<p>
  add-signal works!
</p>
<div class="row">
  <div class="col-sm-12">
    <!-- cardTitle="Basic Component" -->
    <h5>ADD RAILWAY POINT MACHINE TO INVENTORY</h5>
    <hr>
    <form action="javascript:">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="station">Station</label>
            <input type="text" class="form-control" id="station" placeholder="Enter Station">
          </div>
          <div class="form-group">
            <label for="division">Divison</label>
            <input type="text" class="form-control" id="division" placeholder="Enter Divison">
          </div>
          <div class="form-group">
            <label for="mainCategory">Main Category</label>
            <select class="form-control" id="mainCategory">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="form-group">
            <label for="pointNumber">Point Number/Name</label>
            <input type="text" class="form-control" id="pointNumber" placeholder="Point Number">
          </div>
          <div class="form-group">
            <label for="model">Model</label>
            <input type="text" class="form-control" id="model" placeholder="Model">
          </div>
          <div class="form-group">
            <label for="SerialNumber">Serial Number</label>
            <input type="text" class="form-control" id="SerialNumber" placeholder="Serial Number">
          </div>
          <div class="form-group">
            <label for="TypeOfTurnOut">Type of Turn Out</label>
            <select class="form-control" id="TypeOfTurnOut">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="form-group">
            <label for="TypeOfCurve">Type of Curve(Inch)</label>
            <select class="form-control" id="TypeOfCurve">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>

          <div class="form-group">
            <label for="TypeOfSleeper">Type of Sleeper</label>
            <select class="form-control" id="TypeOfSleeper">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="form-group">
            <label for="NoOfGaugeTiePlateInsultationSets">No Of Gauge Tie Plate Insultation Sets</label>
            <select class="form-control" id="NoOfGaugeTiePlateInsultationSets">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="form-group">
            <label for="TypeOfCurve">No Of William Stretcher Institution Sets </label>
            <select class="form-control" id="TypeOfCurve">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>

          <div class="form-group">
            <label for="pointNumber">Strock</label>
            <input type="text" class="form-control" id="pointNumber" placeholder="Point Number">
          </div>
          <div class="form-group">
            <label for="model">Costal Life</label>
            <input type="text" class="form-control" id="model" placeholder="Model">
          </div>
          <div class="form-group">
            <label for="SerialNumber">Date Of Installation</label>
            <input type="text" class="form-control" id="SerialNumber" placeholder="Serial Number">
          </div>

          <div class="form-group">
            <label for="SerialNumber">Longitude</label>
            <input type="text" class="form-control" id="SerialNumber" placeholder="Serial Number">
          </div>

          <div class="form-group">
            <label for="TypeOfCurve">Ac immulation(V) </label>
            <select class="form-control" id="TypeOfCurve">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="station">Zone</label>
            <input type="text" class="form-control" id="station" placeholder="Enter Station">
          </div>
          <div class="form-group">
            <label for="division">Department</label>
            <input type="text" class="form-control" id="division" placeholder="Enter Divison">
          </div>
          <div class="form-group">
            <label for="mainCategory">Type of Gear</label>
            <select class="form-control" id="mainCategory">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>

          <div class="form-group">
            <label for="TypeOfTurnOut">Make</label>
            <select class="form-control" id="TypeOfTurnOut">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>

          <div class="form-group">
            <label for="pointNumber">Version</label>
            <input type="text" class="form-control" id="pointNumber" placeholder="Point Number">
          </div>

          <div class="form-group">
            <label for="TypeOfCurve">Line</label>
            <select class="form-control" id="TypeOfCurve">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>

          <div class="form-group">
            <label for="TypeOfSleeper">Rail Type</label>
            <select class="form-control" id="TypeOfSleeper">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="form-group">
            <label for="NoOfGaugeTiePlateInsultationSets">LH/RH Curvee</label>
            <select class="form-control" id="NoOfGaugeTiePlateInsultationSets">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="form-group">
            <label for="TypeOfCurve">No Of Gague the plate </label>
            <select class="form-control" id="TypeOfCurve">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>

          <div class="form-group">
            <label for="TypeOfCurve">No Of William Steatched Bar </label>
            <select class="form-control" id="TypeOfCurve">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>

          <div class="form-group">
            <label for="TypeOfCurve">Point Machine Type Stadarad </label>
            <select class="form-control" id="TypeOfCurve">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>

          <div class="form-group">
            <label for="TypeOfCurve">Spring Setting Device </label>
            <select class="form-control" id="TypeOfCurve">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>


          <div class="form-group">
            <label for="model">Date of Manufacture</label>
            <input type="text" class="form-control" id="model" placeholder="Model">
          </div>
          <div class="form-group">
            <label for="SerialNumber">Latitude</label>
            <input type="text" class="form-control" id="SerialNumber" placeholder="Serial Number">
          </div>

          <div class="form-group">
            <label for="pointNumber">Distance from station</label>
            <input type="text" class="form-control" id="pointNumber" placeholder="Point Number">
          </div>
          <div class="form-group">
            <label for="SerialNumber">Ground Connection Date Of Installation</label>
            <input type="text" class="form-control" id="SerialNumber" placeholder="Serial Number">
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Remarks</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>

          <h5 class="mt-5 text-center">Attach Documents</h5>
          <hr>
          <div class="form-group">
            <label for="TypeOfCurve">Select File Type To Attach </label>
            <select class="form-control" id="TypeOfCurve">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="form-group custom-file" [ngStyle]="{'margin-bottom':'15px'}">
            <input type="file" class="custom-file-input" id="validatedCustomFile" required>
            <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
            <!-- <div class="invalid-feedback">Example invalid custom file feedback</div> -->
          </div>
          <div class="form-group text-right">
            <button class="btn btn-primary" type="submit">Submit form</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
