@{
    Layout = null;
}

<div class="col-sm-12 about-page-container">
    <div class="version">Version 1.0</div>
    <div class="title-image">
    </div>
    <div class="title-caption">We are Digital Enablers..</div>
</div>
