<div class="row">
  <div class="col-md-12">
    <!-- BEGIN BORDERED TABLE PORTLET-->
    <div class="table-scrollable">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th rowspan="3" width="5%">
              Date
            </th>
            <th colspan="14" width="81%">
              Aspect
            </th>
            <th rowspan="3" width="7%">
              Total Life In (Month)
            </th>
            <th rowspan="3" width="7%">
              Reason For Removal
            </th>
          </tr>
          <tr>
            <th colspan="2">
              DG
            </th>
            <th colspan="2">
              HHG
            </th>
            <th colspan="2">
              HG
            </th>
            <th colspan="2">
              RG
            </th>
            <th colspan="2">
              A
            </th>
            <th colspan="2">
              C
            </th>
            <th colspan="2">
              Route Indicator
            </th>
          </tr>

          <tr>
            <th>
              Make
            </th>
            <th>
              Version
            </th>
            <th>
              Make
            </th>
            <th>
              Version
            </th>
            <th>
              Make
            </th>
            <th>
              Version
            </th>
            <th>
              Make
            </th>
            <th>
              Version
            </th>
            <th>
              Make
            </th>
            <th>
              Version
            </th>
            <th>
              Make
            </th>
            <th>
              Version
            </th>
            <th>
              Make
            </th>
            <th>
              Version
            </th>
          </tr>
        </thead>
      </table>
    </div>
    <!-- END BORDERED TABLE PORTLET-->
  </div>
</div>
