<div class="row">
  <div class="col-md-12 col-xs-12">
    <div class="col-md-3 col-xs-3">
      <a href="#/axels" class="btn default yellow">Back</a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6 pull-right">
      <!--<a href="#/signaladd" class="btn blue">New</a>-->
      <a href="#/blockmaintanece/{{signalId}}" class="btn purple">Maintanence</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <!-- BEGIN BORDERED TABLE PORTLET-->
    <div class="table-scrollable">
      <table class="table table-bordered table-hover">
        <thead class="purple-bg white-color">
          <tr>
            <th>S.No</th>
            <th>Signal Name</th>
            <th>Station</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Added By</th>
            <th>Designation</th>
            <th>DueOn</th>
            <th>AddedOn</th>
            <th>Due Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let signal of signalsArray; index as i">
            <td>{{i+1}}</td>
            <td>{{signal.name}}</td>
            <td>{{signal.stationName}}</td>
            <td>{{signal.assetLatitude}}</td>
            <td>{{signal.assetLongitude}}</td>
            <td>{{signal.displayName}}</td>
            <td>{{signal.designation}}</td>
            <td>{{signal.dueOn | date: 'dd/MM/yyyy'}}</td>
            <td>{{signal.addedOn | date: 'dd/MM/yyyy'}}</td>
            <td><span *ngIf="signal.dueDays > -1">{{signal.dueDays}} Day(s) Over Due</span><span *ngIf="signal.dueDays < 0">On Time</span></td>
            <td>
              <a href="#/block/{{signal.assetId}}/view/{{signal.id}}" class="btn default btn-xs yellow">
                <i class="fa fa-share"></i> View
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- END BORDERED TABLE PORTLET-->
  </div>
</div>
