<p>
  <a href="#/points">back</a>
</p>
<div class="row">
  <div class="col-sm-12">
    <!-- cardTitle="Basic Component" -->
    <h5>ADD RAILWAY POINT MACHINE TO INVENTORY</h5>
    <hr>
    <form [formGroup]="addAssetForm" name="addAsset" #addAsset>
      <div class="form-group col-sm-6 pl-8">
        <label for="station">Station</label>
        <input type="text" class="form-control" id="station" formControlName="station">
      </div>
      <div class="form-group col-sm-6 pl-8">
        <label for="station">Zone</label>
        <input type="text" class="form-control" id="station" formControlName="zone">
      </div>
      <div class="form-group col-sm-6 pl-8">
        <label for="station">Division</label>
        <input type="text" class="form-control" id="station" formControlName="division">
      </div>
      <div class="form-group col-sm-6 pl-8">
        <label for="station">Department</label>
        <input type="text" class="form-control" id="station" formControlName="department">
      </div>
      <div class="form-group col-sm-6 pl-8">
        <label for="type">PointLine Type</label>
        <select name="type"
                class="form-control"
                id="type"
                formControlName="pointlineType">
          <option value="0">
            None
          </option>
          <option value="1">
            MLARoute
          </option>
          <option value="2">
            MLOtherRoute
          </option>
          <option value="3">
            OtherPortion
          </option>
        </select>
      </div>
      <div class="form-group col-sm-6 pl-8">
        <label for="type">TurnOutType</label>
        <select name="type"
                class="form-control"
                id="type"
                formControlName="TurnOutType">
          <option value="0">None</option>
          <option value="1">
            SingleEnded
          </option>
          <option value="2">XOver</option>
          <option value="3">DerailSwitch</option>
          <option value="4">SingleSlip</option>
          <option value="5">DoubleDiamondSlip</option>
        </select>
      </div>
      <div class="form-group col-sm-6 pl-8">
        <label for="type">RailType(KG)</label>
        <select name="type"
                class="form-control"
                id="type"
                formControlName="RailType">
          <option value="0">None</option>
          <option value="1">
            KG52
          </option>
          <option value="2">KG60</option>
          <option value="3">ThickWebSwitch</option>
        </select>
      </div>
      <div class="form-group col-sm-6 pl-8">
        <label for="type">TypeCurve(Inches)</label>
        <select name="type"
                class="form-control"
                id="type"
                formControlName="TypeCurve">
          <option value="0">None</option>
          <option value="1">
            OneIn8
          </option>
          <option value="2">OneIn10</option>
          <option value="3">OneIn12</option>
          <option value="4">OneIn16</option>
        </select>
      </div>
      <div class="form-group col-sm-6 pl-8">
        <label for="type">LH/RH</label>
        <select name="type"
                class="form-control"
                id="type"
                formControlName="TypeCurve">
          <option value="0">None</option>
          <option value="1">
            LH
          </option>
          <option value="2">
            RH
          </option>
        </select>
      </div>
      <div class="form-group col-sm-6 pl-8">
        <label for="type">Sleeper Types</label>
        <select name="type"
                class="form-control"
                id="type"
                formControlName="Typesleeper">
          <option value="0">None</option>
          <option value="1">
            PRC
          </option>
          <option value="2">
            Wooden
          </option>
          <option value="3">
            Steel
          </option>
        </select>
      </div>
      <div class="form-group col-sm-6 pl-8">
        <label for="type">No Of Gauge Tie Plate </label>
        <select name="type"
                class="form-control"
                id="type"
                formControlName="Insulationtype">
          <option value="1">
            1
          </option>
          <option value="2">
            2
          </option>
          <option value="3">
            3
          </option>
          <option value="4">
            4
          </option>
        </select>
      </div>
      <div class="form-group col-sm-6 pl-8">
        <label for="type">>No Of Gauge Tie Plate Insulations Sets </label>
        <select name="type"
                class="form-control"
                id="type"
                formControlName="guagetietype">
          <option value="1">
            1
          </option>
          <option value="2">
            2
          </option>
          <option value="3">
            3
          </option>
          <option value="4">
            4
          </option>
        </select>
      </div>
      <div class="form-group col-sm-6 pl-8">
        <label for="type">No Of William Stretcher Bar</label>
        <select name="type"
                class="form-control"
                id="type"
                formControlName="Insulationtype">
          <option value="1">
            1
          </option>
          <option value="2">
            2
          </option>
          <option value="3">
            3
          </option>
          <option value="4">
            4
          </option>
        </select>
      </div>
      <div class="form-group col-sm-6 pl-8">
        <label for="type">No Of William Stretcher Bar Insulations Sets</label>
        <select name="type"
                class="form-control"
                id="type"
                formControlName="Insulationtype">
          <option value="1">
            1
          </option>
          <option value="2">
            2
          </option>
          <option value="3">
            3
          </option>
          <option value="4">
            4
          </option>
        </select>
      </div>
      <div class="form-group col-sm-6 pl-8">
        <label for="type">PointMachine Types</label>
        <select name="type"
                class="form-control"
                id="type"
                formControlName="Typespoint">
          <option value="0">None</option>
          <option value="1">
            IRS
          </option>
          <option value="2">
            Siemence
          </option>
        </select>
      </div>
      <div class="form-group col-sm-6 pl-8">
        <label for="station">Storck</label>
        <input type="text" class="form-control" id="station" formControlName="storck">
      </div>
      <div class="form-group col-sm-6 pl-8">
        <label for="type">SpringSettingDevice</label>
        <select name="type"
                class="form-control"
                id="type"
                formControlName="SettingDevice">
          <option value="0">None</option>
          <option value="1">
            Provided
          </option>
          <option value="2">
            Not Provided
          </option>
        </select>
      </div>
      <div class="form-group col-sm-6 pl-8">
        <label for="station">Point Name/Number</label>
        <input type="text" class="form-control" id="station" formControlName="PointName">
      </div>
      <div class="form-group col-sm-6 pl-8">
        <label for="station">Serial Number</label>
        <input type="text" class="form-control" id="station" formControlName="serialNumber">
      </div>
      <div class="form-group col-sm-6 pl-8">
        <label for="make">Manufacture</label>
        <select name="type"
                class="form-control"
                id="make"
                formControlName="make">
          <option value="">--Select--</option>
          <option>Agarwal Engineering Works</option>
          <option>G.K. Engg. Works &amp; Stores (P) Ltd</option>
          <option>Kiran Infra Engineers Ltd</option>
          <option>NSS Stores Supply Agency (P) Ltd</option>
          <option>RT Vision Technologies (P) Ltd</option>
          <option>Sankar Engg. Works</option>
          <option>SBM Engg. Works</option>
          <option>Shyam Sundar Casting (P) Ltd</option>
          <option>Sigma Trade Agency</option>
          <option>TSS India Ltd</option>
        </select>
      </div>
      <div class="form-group col-sm-6 pl-8">
        <label for="model">Model</label>
        <input type="text" class="form-control" id="model" formControlName="model">
      </div>
      <div class="form-group col-sm-6 pl-8">
        <label for="milegeInKM">Mileage(KM)</label>
        <input type="text" class="form-control" id="milegeInKM" formControlName="milegeInKM">
      </div>
      <div class="form-group col-sm-6 pl-8">
        <label for="codalLife">Codal Life</label>
        <input type="text" class="form-control" id="codalLife" formControlName="codalLife">
      </div>
      <div class="form-group col-sm-6 pl-8">
        <label for="latitude">Latitude</label>
        <input type="text" class="form-control" id="latitude" formControlName="latitude">
      </div>
      <div class="form-group col-sm-6 pl-8">
        <label for="longitude">Longitude</label>
        <input type="text" class="form-control" id="longitude" formControlName="longitude">
      </div>
      <div class="form-group col-sm-6 pl-8">
        <label for="purchasedon">Date Of Manufacture</label>
        <div class="input-calendar col-sm-12 clear-padding-x">
          <input type="text"
                 name="dateOfManufacture"
                 bsDatepicker
                 formControlName="dateOfManufacture"
                 class="form-control"
                 placement="auto"
                 [bsConfig]="{ showWeekNumbers: false }"
                 id="dateOfManufacture" readonly />
          <span class="ic-calendar"></span>
        </div>
      </div>
      <div class="form-group col-sm-6 pl-8">
        <label for="purchasedon">Installed on</label>
        <div class="input-calendar col-sm-12 clear-padding-x">
          <input type="text"
                 name="dateOfInstallation"
                 bsDatepicker
                 formControlName="dateOfInstallation"
                 class="form-control"
                 placement="auto"
                 [bsConfig]="{ showWeekNumbers: false }"
                 id="dateOfInstallation" readonly />
          <span class="ic-calendar"></span>
        </div>
      </div>
    </form>
    <div class="form-actions">
      <div class="row">
        <div class="col-md-offset-4 col-md-8">
          <button (click)="getLocation()" class="btn default">Get Location</button>
          <button (click)="saveAsset()" class="btn blue">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>


