
<div class="row">
  <div class="col-md-12 col-xs-12">
    <div class="col-md-3 col-xs-3">
      <a href="#/home" class="btn default yellow">Back</a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6 pull-right">
      <a href="#/trackadd" class="btn blue">New</a>
      <!--<a href="#/maintanence" class="btn purple">Maintanence</a>-->
    </div>
  </div>
</div>
<div class="row">
  <!-- [ basic-table ] start -->
  <div class="col-md-12 mt-10">
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead class="purple-bg white-color">
          <tr>
            <th>S.No</th>
            <th>Track Name</th>
            <th>Station</th>
            <th>Type</th>
            <th>DOI</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Codal Life</th>
            <th>FM-FM</th>
            <th>FM-BSL-St</th>
            <th>FM-Home Stright</th>
            <th>FM-Home T/O</th>
            <th>Loop Line</th>
            <th>Other Goods Line</th>
            <th>Sidings</th>
            <th>Remarks</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let signal of signalsArray; index as i">
            <td>{{i+1}}</td>
            <td>{{signal.name}}</td>
            <td>{{signal.stationName}}</td>
            <td>{{signal.metadata.detectionDeviceType}}</td>
            <td>{{signal.dateOfInstallation | date: 'dd/MM/yyyy'}}</td>
            <td>{{signal.latitude}}</td>
            <td>{{signal.longitude}}</td>
            <td>{{signal.metadata.codalLife}}</td>
            <td><span *ngIf="!signal.metadata.fmFm">Not </span>Provided</td>
            <td><span *ngIf="!signal.metadata.fmBSLSt">Not </span>Provided</td>
            <td><span *ngIf="!signal.metadata.fmBSLTO">Not </span>Provided</td>
            <td><span *ngIf="!signal.metadata.fmHomeTO">Not </span>Provided</td>
            <td>{{signal.metadata.loopLineNo}}</td>
            <td>{{signal.metadata.otherGoodsNo}}</td>
            <td>{{signal.metadata.slidingNo}}</td>
            <td>{{signal.metadata.remarks}}</td>
            <td>
              <a href="#/edittrack/{{signal.id}}" class="btn default btn-xs purple">
                <i class="fa fa-edit"></i> Edit
              </a>
              <!--<a href="#/trackcircuitmaintanecelist/{{signal.id}}" class="btn default btn-xs yellow">
    <i class="fa fa-share"></i> View
  </a>
  <a href="#/trackcircuitmaintanece/{{signal.id}}" class="btn default btn-xs blue">
    <img src="../../../assets/global/img/portlet-config-icon-white.png" />
    Maintenance
  </a>-->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- [ basic-table ] end -->
</div>

