<div class="row">
      <div *ngFor="let station of stationsArray; index as i" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat blue-madison">
          <div class="visual">
            <img src="../../../assets/images/color_signal_icon.png" />
          </div>
          <div class="details">
            <div class="number">
              78
            </div>
            <div class="desc">
              nandya
            </div>
          </div>
          <a class="more" href="#/signals">
            View more <i class="m-icon-swapright m-icon-white"></i>
          </a>
        </div>
      </div>
</div>