<div class="row">
  <div class="col-md-12 col-xs-12">
    <div class="col-md-3 col-xs-3">
      <a href="#/axels" class="btn default yellow">Back</a>
    </div>
    <!--<div class="col-md-3 col-sm-6 col-xs-6 pull-right">
      <a href="#/signaladd" class="btn blue">New</a>
      <a href="#/maintanence" class="btn purple">Maintanence</a>
    </div>-->
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-xs-12">
    <!-- cardTitle="Basic Component" -->
    <h4 class="font-w800"><span *ngIf="!signal || !signal.id">ADD </span> <span *ngIf="signal && signal.id">EDIT </span> AXEL COUNTER TO INVENTORY</h4>
    <hr>
    <form [formGroup]="addAssetForm" name="addAsset" #addAsset>
      <div class="form-group col-sm-6 pl-8 col-xs-6">
        <label for="station">Zone</label>
        <input type="text" class="form-control" id="station" formControlName="zone">
      </div>
      <div class="form-group col-sm-6 pl-8 col-xs-6">
        <label for="station">Division</label>
        <input type="text" class="form-control" id="station" formControlName="division">
      </div>
      <div class="form-group col-sm-6 pl-8 col-xs-6">
        <label for="station">
          Station
          <span *ngFor="let validation of validationMessages.stationId">
            <span class="text-danger text-x-small" *ngIf="addAssetForm.get('stationId').hasError(validation.type) && (addAssetForm.get('stationId').dirty || addAssetForm.get('stationId').touched || formSubmitted)">{{validation.message}}</span>
          </span>
        </label>
        <select name="type"
                class="form-control"
                id="type"
                formControlName="stationId">
          <option [value]="st.id" *ngFor="let st of stations">{{st.name}}</option>
        </select>
      </div>
      <div class="form-group col-sm-6 pl-8 col-xs-6">
        <label for="station">Department</label>
        <input type="text" class="form-control" id="station" formControlName="department">
      </div>
      <div class="form-group col-sm-6 pl-8 col-xs-6">
        <label for="station">
          Name/Number
          <span *ngFor="let validation of validationMessages.name">
            <span class="text-danger text-x-small" *ngIf="addAssetForm.get('name').hasError(validation.type) && (addAssetForm.get('name').dirty || addAssetForm.get('name').touched || formSubmitted)">{{validation.message}}</span>
          </span>
        </label>
        <input type="text" class="form-control" id="station" formControlName="name">
      </div>
      <div class="form-group col-sm-6 pl-8">
        <label for="type">Type Of Axel Counter</label>
        <select name="type"
                class="form-control"
                id="type"
                formControlName="axelType">
          <option value="N/A">N/A</option>
          <option value="SSDAC">SSDAC</option>
          <option value="HASSDAC">HASSDAC</option>
          <option value="MSDAC">MSDAC</option>
          <option value="DAC">DAC</option>
        </select>
      </div>
      <div class="form-group col-sm-6 pl-8 col-xs-6">
        <label for="make">Manufacture</label>
        <select name="type"
                class="form-control"
                id="make"
                formControlName="make">
          <option value="">None</option>
        </select>
      </div>
      <div class="form-group col-sm-6 pl-8 col-xs-6">
        <label for="model">Model</label>
        <input type="text" class="form-control" id="model" formControlName="model">
      </div>
      <div class="form-group col-sm-6 pl-8 col-xs-6">
        <label for="station">Serial Number</label>
        <input type="text" class="form-control" id="station" formControlName="serialNumber">
      </div>
      <div class="form-group col-sm-6 pl-8 col-xs-6">
        <label for="codalLife">Codal Life(Months)</label>
        <input type="text" class="form-control" id="codalLife" formControlName="codalLife">
      </div>
      <div class="form-group col-sm-6 pl-8">
        <label for="station">Location</label>
        <input type="text" class="form-control" id="station" formControlName="location">
      </div>
      <div class="form-group col-sm-6 pl-8 col-xs-6">
        <label for="purchasedon">Date Of Manufacture</label>
        <div class="input-calendar col-sm-12" style="padding-left:0; padding-right:0">
          <input type="text"
                 name="dateOfManufacture"
                 bsDatepicker
                 formControlName="dateOfManufacture"
                 class="form-control"
                 placement="auto"
                 [bsConfig]="{ showWeekNumbers: false, dateInputFormat: 'MMM DD, YYYY' }"
                 id="dateOfManufacture" readonly />
          <span class="ic-calendar"></span>
        </div>
      </div>
      <div class="form-group col-sm-6 pl-8 col-xs-6">
        <label for="purchasedon">Installed on</label>
        <div class="input-calendar col-sm-12" style="padding-left:0; padding-right:0">
          <input type="text"
                 name="dateOfInstallation"
                 bsDatepicker
                 formControlName="dateOfInstallation"
                 class="form-control"
                 placement="auto"
                 [bsConfig]="{ showWeekNumbers: false, dateInputFormat: 'MMM DD, YYYY' }"
                 id="dateOfInstallation" readonly />
          <span class="ic-calendar"></span>
        </div>
      </div>
      <div class="form-group col-sm-6 pl-8 col-xs-6">
        <label for="milegeInKM">Distance from station</label>
        <input type="text" class="form-control" id="milegeInKM" formControlName="locationDistance">
      </div>
      <div class="form-group col-sm-6 pl-8 col-xs-6">
        <label for="latitude">Latitude</label>
        <input type="text" class="form-control" id="latitude" formControlName="latitude">
      </div>
      <div class="form-group col-sm-6 pl-8 col-xs-6">
        <label for="longitude">Longitude</label>
        <input type="text" class="form-control" id="longitude" formControlName="longitude">
      </div>
      <div class="form-group col-sm-6 pl-8 col-xs-6">
        <label for="model">Remarks</label>
        <textarea name="description" rows="2" class="form-control" formControlName="remarks"></textarea>
      </div>
    </form>
    <div class="form-actions">
      <div class="row">
        <div class="col-md-offset-4 col-xs-12 col-md-8">
          <button (click)="getLocation()" class="btn default">Get Location</button>
          <button (click)="saveAsset()" class="btn blue">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>  
