<div class="row">
  <div class="col-md-12 col-xs-12">
    <div class="col-md-3 col-xs-3">
      <a href="#/home" class="btn default yellow">Back</a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6 pull-right">
      <a href="#/axeladd" class="btn blue">New</a>
      <!--<a href="#/maintanence" class="btn purple">Maintanence</a>-->
    </div>
  </div>
</div>
<div class="row">
  <!-- [ basic-table ] start -->
  <div class="col-md-12 mt-10">
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead class="purple-bg white-color">
          <tr>
            <th>#</th>
            <th>Axel Name</th>
            <th>Type</th>
            <th>Model</th>
            <th>Make</th>
            <th>Serial Number</th>
            <th>Station</th>
            <th>Location</th>
            <th>DOM</th>
            <th>DOI</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Codal Life</th>
            <th>Distance from Station</th>
            <th>Remarks</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let signal of signalsArray; index as i">
            <td>{{i+1}}</td>
            <td>{{signal.name}}</td>
            <td>{{signal.metadata.axelType}}</td>
            <td>{{signal.model}}</td>
            <td>{{signal.make}}</td>
            <td>{{signal.metadata.serialNumber}}</td>
            <td>{{signal.stationName}}</td>
            <td>{{signal.metadata.location}}</td>
            <td>{{signal.dateOfManufacture | date: 'dd/MM/yyyy'}}</td>
            <td>{{signal.dateOfInstallation | date: 'dd/MM/yyyy'}}</td>
            <td>{{signal.latitude}}</td>
            <td>{{signal.longitude}}</td>
            <td>{{signal.metadata.codalLife}}</td>
            <td>{{signal.metadata.locationDistance}}</td>
            <td>{{signal.metadata.remarks}}</td>
            <td>
              <a href="#/editaxel/{{signal.id}}" class="btn default btn-xs purple">
                <i class="fa fa-edit"></i> Edit
              </a>
              <!--<a href="#/signalmaintanencelist/{{signal.id}}" class="btn default btn-xs yellow">
      <i class="fa fa-share"></i> View
    </a>
    <a href="#/maintanence/{{signal.id}}" class="btn default btn-xs blue">
      <img src="../../../assets/global/img/portlet-config-icon-white.png" />
      Maintenance
    </a>-->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- [ basic-table ] end -->
</div>
