
<div class="row">
  <div class="col-md-12">
    <div class="col-md-3">
      <a href="#/home">back</a>
    </div>
    <div class="col-md-3 pull-right">
      <a href="#/signaladd" class="btn blue">New</a>
      <a href="#/maintanence" class="btn purple">Maintanence</a>
    </div>
  </div>
</div>
<div class="row">
  <!-- [ basic-table ] start -->
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Signal Name</th>
            <th>Station</th>
            <th>Type</th>
            <th>DOI</th>
            <th>Distance(KM)</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Implantation</th> 
            <th>Sacrificial Mast</th>
            <th>Codal Life</th>
            <th>Remarks</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let signal of signalsArray; index as i">
            <td>{{i+1}}</td>
            <td>{{signal.metadata.signalName}}</td>
            <td>Thuni</td>
            <td>Main</td>
            <td>{{signal.dateOfInstallation | date: 'dd/MM/yyyy'}}</td>
            <td>{{signal.metadata.milegeInKM}}</td>
            <td>{{signal.latitude}}</td>
            <td>{{signal.longitude}}</td>
            <td>{{signal.metadata.implantation}}</td>
            <td>None</td>
            <td>{{signal.metadata.codalLife}}</td>
            <td>{{signal.metadata.remarks}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- [ basic-table ] end -->
</div>
