<div class="row">
  <div class="col-md-12 col-xs-12">
    <div class="col-md-3 col-xs-3">
      <a href="#/tracks" class="btn default yellow">Back</a>
    </div>
    <!--<div class="col-md-3 col-sm-6 col-xs-6 pull-right">
      <a href="#/signaladd" class="btn blue">New</a>
      <a href="#/maintanence" class="btn purple">Maintanence</a>
    </div>-->
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-xs-12">
    <!-- cardTitle="Basic Component" -->
    <h4 class="font-w800">ADD TRACK CIRCUIT MAINTANECE</h4>
    <hr>
  </div>
</div>

<!--<button *ngIf="!enableScanner" (click)="openScanner()">Open Scanner</button>
<button *ngIf="enableScanner" (click)="closeScanner()">Close Scanner</button>
<div *ngIf="enableScanner && !hasPermission">
  Please allow camera permissions and reload the site to scan
</div>
<div class="row" style="width: 275px; padding: 15px;">
  <zxing-scanner *ngIf="enableScanner"
                 (scanSuccess)="scanSuccessHandler($event)"
                 (permissionResponse)="onHasPermission($event)"></zxing-scanner>
</div>
<div class="row" *ngIf="scannedData && !assetDetails">
  <h3>No Asset found with that code</h3>
</div>-->

<accordion [closeOthers]="true">
  <div class="row">
    <div class="col-sm-12 col-xs-12" style="padding-top:20px;">

      <form [formGroup]="addAssetMaintanenceForm" name="addAssetMaintanence" #addAssetMaintanence>


        <div class="form-group col-sm-6 pl-8 col-xs-6">
          <label for="purchasedon">DATE</label>
          <div class="input-calendar col-xs-12 col-sm-12 clear-padding-x" style="padding-left:0; padding-right:0">
            <input type="text"
                   name="dateOfManufacture"
                   bsDatepicker
                   formControlName="date"
                   class="form-control"
                   placement="auto"
                   [bsConfig]="{ showWeekNumbers: false }"
                   id="dateOfManufacture" readonly />
            <span class="ic-calendar"></span>
          </div>
        </div>

        <div class="form-group col-sm-6 pl-8 col-xs-6">
          <label for="station">Time</label>
          <input type="text" class="form-control" id="station" formControlName="time">
        </div>

        <div class="form-group col-sm-6 pl-8 col-xs-6">
          <label for="station">Station :</label>
        </div>

        <div class="form-group col-sm-6 pl-8 col-xs-6">
          <h3>Vijayawada</h3>
        </div>
        <div class="form-group col-sm-6 pl-8 col-xs-6">
          <label for="station">Gear Name</label>
          <input type="text" class="form-control" id="station" formControlName="gearName">
        </div>
        <div class="form-group col-sm-6 pl-8 col-xs-6">
          <label for="station">Asset Id</label>
          <input type="text" class="form-control" id="station" formControlName="assetId">
        </div>
        <div class="form-group col-sm-6 pl-8 col-xs-6">
          <label for="latitude">Latitude</label>
          <input type="text" class="form-control" id="latitude" formControlName="slatitude">
        </div>
        <div class="form-group col-sm-6 pl-8 col-xs-6">
          <label for="longitude">Longitude</label>
          <input type="text" class="form-control" id="longitude" formControlName="slongitude">
        </div>
        <div class="form-group col-sm-6 pl-8 col-xs-6">
          <div class="input-group">
            <div class="icheck-inline">
              <label>
                <input type="checkbox" formControlName="outSideConnections" class="icheck">
                Outside track bonds, impedance bonds,bond wires and clips,jumper,power feed,relay and cable connections.
              </label>
            </div>
            <div class="icheck-inline">
              <label>
                <input type="checkbox" formControlName="firmnessAndInsulation" class="icheck">
                For firminess,insulation condition of jumper connections/ Track lead connections,replacing if insulation worn out or connections corrored and properly securing them.(17.26)(17.27)(17.21.1)
              </label>
            </div>
            <div class="icheck-inline">
              <label>
                <input type="checkbox" formControlName="replacingCorredBonds" class="icheck">
                Replacing corroded bonds.(17.26.2 & 3)
              </label>
            </div>
            <div class="icheck-inline">
              <label>
                <input type="checkbox" formControlName="visualCheckAndClean" class="icheck">
                Visual check & cleaning of insulated block joints(17.21.5)
              </label>
            </div>
            <div class="icheck-inline">
              <label>
                <input type="checkbox" formControlName="shortCircuits" class="icheck">
                Traction bonds/ jumpers do not cause any short circuits with track circuit rails / connections
              </label>
            </div>
            <div class="icheck-inline">
              <label>
                <input type="checkbox" formControlName="engineeringFittness" class="icheck">
                Engineering fittings - Track condition, availability of liners & pad
              </label>
            </div>
            <div class="icheck-inline">
              <label>
                <input type="checkbox" formControlName="bugsAndGluedJoint" class="icheck">
                Bugs and Glued Joint Position
              </label>
            </div>
            <div class="icheck-inline">
              <label>
                <input type="checkbox" formControlName="gapsInGlueJoint" class="icheck">
                Gaps in Glued Joint
              </label>
            </div>
            <div class="icheck-inline">
              <label>
                <input type="checkbox" formControlName="positionOfBurr" class="icheck">
                Position of burr on Arm Glued Joint
              </label>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-xs-12 accordion-head">
          <accordion-group heading="Check List">
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Station :</label>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <h3>Vijayawada</h3>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="type">Make</label>
              <select name="type"
                      class="form-control"
                      id="type"
                      formControlName="make">
                <option value="0">N/A</option>
              </select>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="type">Model</label>
              <select name="type"
                      class="form-control"
                      id="type"
                      formControlName="model">
                <option value="0">N/A</option>
              </select>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="type">Serial Number</label>
              <input type="text" class="form-control" id="station" formControlName="serialNumber">
            </div>

          </accordion-group>
        </div>
        <div class="col-sm-12 col-xs-12 accordion-head" style="padding-top:20px;" formGroupName="metadata">
          <accordion-group heading="SMC-9(A) - LH" formGroupName="smc9lh">


            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Type of Relay</label>
              <input type="text" class="form-control" id="model" formControlName="typeOfRelay">
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Date Installed</label>
              <input type="text" class="form-control" id="aspectNumber" formControlName="dateOfInstallation">
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">P.U Volts</label>
              <input type="text" class="form-control" id="aspectNumber" formControlName="pUVolt">
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">D.A Volts</label>
              <input type="text" class="form-control" id="lifeInMonths" formControlName="dAVolts">
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">P.U Volts</label>
              <input type="text" class="form-control" id="lifeInMonths" formControlName="pUCurrent">
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">D.A Current</label>
              <input type="text" class="form-control" id="lifeInMonths" formControlName="dACurrent">
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Resistance Of Relay</label>
              <input type="text" class="form-control" id="lifeInMonths" formControlName="resistanceofrelay">
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">length of track Circuit(m)</label>
              <input type="text" class="form-control" id="lifeInMonths" formControlName="trackLength">
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Length Of Leads From Feed End To Track(m)</label>
              <input type="text" class="form-control" id="lifeInMonths" formControlName="feedToTrackLength">
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Type Of Ballast</label>
              <input type="text" class="form-control" id="lifeInMonths" formControlName="typeOfBallast">
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Type Of Track Feed</label>
              <input type="text" class="form-control" id="lifeInMonths" formControlName="typeOfTrackFeed">
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Size Of Track Feed Conductor</label>
              <input type="text" class="form-control" id="lifeInMonths" formControlName="trackFeedSize">
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Size Of Conductor To Relay</label>
              <input type="text" class="form-control" id="lifeInMonths" formControlName="relayToTrackLength">
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Type Of Sleeper and Condition</label>
              <input type="text" class="form-control" id="lifeInMonths" formControlName="typeOfSleeper">
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Type Of Insulated Joints</label>
              <input type="text" class="form-control" id="lifeInMonths" formControlName=" typeOfInsulatedJoints">
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">No Of Bridges/ Curvelts in track</label>
              <input type="text" class="form-control" id="lifeInMonths" formControlName="noOfBridgesInTrack">
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">No Of Level Crossing in Track</label>
              <input type="text" class="form-control" id="lifeInMonths" formControlName="noOfLevelCrossInTrack">
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="model">Remarks</label>
              <textarea name="description" rows="2" class="form-control" formControlName="remarks"></textarea>
            </div>
          </accordion-group>
        </div>
        <!-----------------------end of smc9(A) LH--------------------------------------------------------------->

        <div class="col-sm-12 col-xs-12 accordion-head" style="padding-top:20px;" formGroupName="metadata">
          <accordion-group heading="SMC-9(A) - RH" formGroupName="smc9rh">


            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Weather</label>
              <input type="text" class="form-control" id="model" formControlName="weather">
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="type">Condition of ballast Wet,Damp or Dry</label>
              <select name="type"
                      class="form-control"
                      id="type"
                      formControlName="ballastCondition">
                <option value="0">Wet</option>
                <option value="1">Damp</option>
                <option value="2">Dry</option>
              </select>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Percentage of Ballast clear of Rails</label>
              <input type="text" class="form-control" id="aspectNumber" formControlName="percentageOfBallast">
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="type">Draining of Track</label>
              <select name="type"
                      class="form-control"
                      id="type"
                      formControlName=" drainingTrack">
                <option value="0">Good</option>
                <option value="1">Fair</option>
                <option value="2">Bad</option>
              </select>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Condition Of Rail Surface</label>
              <input type="text" class="form-control" id="lifeInMonths" formControlName="conditionOfRail">
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Condition Of Bonds and Jumper</label>
              <input type="text" class="form-control" id="lifeInMonths" formControlName="conditionOfBonds">
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">COndition Of Insulated Joints</label>
              <input type="text" class="form-control" id="lifeInMonths" formControlName="conditionOfInsulatedJoint">
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Condition of Track Battery</label>
              <input type="text" class="form-control" id="lifeInMonths" formControlName="conditionofbattery">
            </div>

            <div class="row">
              <div class="col-sm-12 col-xs-12">
                <!-- cardTitle="Basic Component" -->
                <h4 class="font-w800">Track Feed End</h4>
                <hr>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Feed Resistance</label>
              <input type="text" class="form-control" id="lifeInMonths" formControlName="feedResistance">
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Volatge At Battery/Track Feed Voltage</label>
              <input type="text" class="form-control" id="lifeInMonths" formControlName="trackFeedVoltage">
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">VF Voltage at rails</label>
              <input type="text" class="form-control" id="lifeInMonths" formControlName="vFVoltage">
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">IF Current at Rails</label>
              <input type="text" class="form-control" id="lifeInMonths" formControlName="iFCurrentOnRails">
            </div>

            <div class="row">
              <div class="col-sm-12 col-xs-12">
                <!-- cardTitle="Basic Component" -->
                <h4 class="font-w800">Relay End</h4>
                <hr>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">VR Voltage ar Rails</label>
              <input type="text" class="form-control" id="lifeInMonths" formControlName="vrvoltageatrails">
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Voltage At Realy Terminals</label>
              <input type="text" class="form-control" id="lifeInMonths" formControlName="voltageAtRelayTerminals">
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">IR Current at Relay Terminals</label>
              <input type="text" class="form-control" id="lifeInMonths" formControlName="iRCurrentAtRelay">
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Ballast Resistance</label>
              <input type="text" class="form-control" id="lifeInMonths" formControlName="ballastResistance">
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Ballast Resistance and Bond Resistance</label>
              <input type="text" class="form-control" id="lifeInMonths" formControlName="ballastbondresistance">
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Drop Shunt Value</label>
              <input type="text" class="form-control" id="lifeInMonths" formControlName="dropShuntValue">
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Pick Up Shunt Value</label>
              <input type="text" class="form-control" id="lifeInMonths" formControlName="pickUpShuntValue">
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Phase Angle (from AC Track Circuit)</label>
              <input type="text" class="form-control" id="lifeInMonths" formControlName="phaseAngle">
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">No of Track failures during the year</label>
              <input type="text" class="form-control" id="lifeInMonths" formControlName="noOfFailures">
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Cause Of Failure</label>
              <input type="text" class="form-control" id="lifeInMonths" formControlName="causeOfFailure">
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="model">Remarks</label>
              <textarea name="description" rows="2" class="form-control" formControlName="remarks"></textarea>
            </div>
          </accordion-group>
        </div>
        <!-----------------------end of smc9(A) RH--------------------------------------------------------------->

        <div class="col-sm-12 col-xs-12 accordion-head" style="padding-top:20px;" formGroupName="metadata">
          <accordion-group heading="SMC-10" formGroupName="smc10">

            <div class="row">
              <div class="col-sm-12 col-xs-12">
                <!-- cardTitle="Basic Component" -->
                <h4 class="font-w800">Test of Insulation Joint/ Glued Joint</h4>
                <hr>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Track No</label>
              <input type="text" class="form-control" id="model" formControlName="trackNo">
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="type">Joint Type</label>
              <select name="type"
                      class="form-control"
                      id="type"
                      formControlName="jointType">
                <option value="0">--Select--</option>
                <option value="1">Glued</option>
                <option value="2">Insulation</option>
              </select>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Date</label>
              <input type="text" class="form-control" id="aspectNumber" formControlName="date">
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">End Post</label>
              <input type="text" class="form-control" id="lifeInMonths" formControlName="endPost">
            </div>

            <div class="row">
              <div class="col-sm-12 col-xs-12">
                <!-- cardTitle="Basic Component" -->
                <h4 class="font-w800">Channel Plate</h4>
                <hr>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Channel Plate -1</label>
              <input type="text" class="form-control" id="lifeInMonths" formControlName="channelPlate1">
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Channel Plate -2</label>
              <input type="text" class="form-control" id="lifeInMonths" formControlName="channelPlate2">
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Channel Plate -3</label>
              <input type="text" class="form-control" id="lifeInMonths" formControlName="channelPlate3">
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Channel Plate -4</label>
              <input type="text" class="form-control" id="lifeInMonths" formControlName="channelPlate4">
            </div>

            <div class="row">
              <div class="col-sm-12 col-xs-12">
                <!-- cardTitle="Basic Component" -->
                <h4 class="font-w800">Collets</h4>
                <hr>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Collet -1</label>
              <input type="text" class="form-control" id="lifeInMonths" formControlName="collet1">
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Collet -2</label>
              <input type="text" class="form-control" id="lifeInMonths" formControlName="collet2">
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Collet -3</label>
              <input type="text" class="form-control" id="lifeInMonths" formControlName="collet3">
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Collet -4</label>
              <input type="text" class="form-control" id="lifeInMonths" formControlName="collet4">
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Collet -5</label>
              <input type="text" class="form-control" id="lifeInMonths" formControlName="collet5">
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Collet -6</label>
              <input type="text" class="form-control" id="lifeInMonths" formControlName="collet6">
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Collet -7</label>
              <input type="text" class="form-control" id="lifeInMonths" formControlName="collet7">
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Collet -8</label>
              <input type="text" class="form-control" id="lifeInMonths" formControlName="collet8">
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="model">Remarks</label>
              <textarea name="description" rows="2" class="form-control" formControlName="remarks"></textarea>
            </div>

            <div class="row">
              <div class="col-sm-12 col-xs-12">
                <!-- cardTitle="Basic Component" -->
                <h4 class="font-w800">Condition of Joint</h4>
                <hr>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label></label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="isFailed" [value]="false">
                    Failed
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="isFailed" [value]="true">
                    Maintenance
                  </label>
                </div>
              </div>
            </div>

          </accordion-group>
        </div>
        <!----------------------------- end of SMC 10 ------------------------------------>
        <accordion-group heading="Records Book" formGroupName="recordBook">

          <div class="row">
            <div class="col-sm-12 col-xs-12">
              <!-- cardTitle="Basic Component" -->
              <h4 class="font-w800">Record Book Of DC Track Circuit</h4>
              <hr>
            </div>
          </div>

          <div class="form-group col-sm-6 pl-8 col-xs-6">
            <label for="station">Battery Voltage(V)</label>
            <input type="text" class="form-control" id="station" formControlName=" batteryVoltage">
          </div>
          <div class="form-group col-sm-6 pl-8 col-xs-6">
            <label for="station">Speific Gravity</label>
            <input type="text" class="form-control" id="station" formControlName="specificGravity">
          </div>

          <div class="form-group col-sm-6 pl-8 col-xs-6">
            <label for="model">Charger</label>
            <input type="text" class="form-control" placeholder="Off Load" id="hgVoltage" formControlName="chargerOffLoad">
            <input type="text" class="form-control" placeholder="Off Load" id="hhgVoltage" formControlName="chargerOnLoad">
            <input type="text" class="form-control" placeholder="current" id="hhgVoltage" formControlName="chargerCurrent">
          </div>

          <div class="form-group col-sm-6 pl-8 col-xs-6">
            <label for="codalLife">Drop Across chock</label>
            <input type="text" class="form-control" id="cogVoltage" formControlName="dropAcrossChock">
          </div>
          <div class="form-group col-sm-6 pl-8 col-xs-6">
            <label for="latitude">Drop Across Resistance</label>
            <input type="text" class="form-control" id="amarker" formControlName="dropAcrossResistance">
          </div>
          <div class="form-group col-sm-6 pl-8 col-xs-6">
            <label for="longitude">Voltage at Feed end(v)</label>
            <input type="text" class="form-control" id="agmarker" formControlName="feedEndVoltage">
          </div>
          <div class="form-group col-sm-6 pl-8 col-xs-6">
            <label for="longitude">Current at Feed end(mA)</label>
            <input type="text" class="form-control" id="agmarker" formControlName="feedEndCurrent">
          </div>
          <div class="form-group col-sm-6 pl-8 col-xs-6">
            <label for="longitude">Voltage at Relay end(V)</label>
            <input type="text" class="form-control" id="routeIndicator" formControlName="relayEndVoltage">
          </div>
          <div class="form-group col-sm-6 pl-8 col-xs-6">
            <label for="model">Current at Relay end(mA)</label>
            <textarea name="description" rows="2" class="form-control" formControlName="relayEndCurrent"></textarea>
          </div>

          <div class="form-group col-sm-6 pl-8 col-xs-6">
            <label for="model">Schedule Done</label>
            <textarea name="description" rows="2" class="form-control" formControlName="scheduleDone"></textarea>
          </div>

          <div class="form-group col-sm-6 pl-8 col-xs-6">
            <label for="model">Remarks</label>
            <textarea name="description" rows="2" class="form-control" formControlName="remarks"></textarea>
          </div>
          <div class="form-group col-sm-6 pl-8 col-xs-6">
            <label>Status of Track Circuit</label>
            <div class="input-group">
              <div class="icheck-inline">
                <label class="">
                  <input type="radio" class="icheck" formControlName="faulty" [value]="false">
                  Normal
                </label>
                <label>
                  <input type="radio" class="icheck" formControlName="faulty" [value]="true">
                  Faulty
                </label>
              </div>
            </div>
          </div>
        </accordion-group>


      </form>
    </div>
  </div>
</accordion>

<div class="form-actions">
  <div class="row">
    <div class="col-md-offset-4 col-xs-12 col-md-8">
      <!--<button (click)="getLocation()" class="btn default">Get Location</button>-->
      <button (click)="saveAssetMaintanence()" class="btn blue">Submit</button>
    </div>
  </div>
</div>
