<div class="row">
  <div class="col-md-12 col-xs-12">
    <div class="col-md-3 col-xs-3">
      <a href="#/tracks" class="btn default yellow">Back</a>
    </div>
    <!--<div class="col-md-3 col-sm-6 col-xs-6 pull-right">
      <a href="#/signaladd" class="btn blue">New</a>
      <a href="#/maintanence" class="btn purple">Maintanence</a>
    </div>-->
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-xs-12">
    <!-- cardTitle="Basic Component" -->
    <h4 class="font-w800">ADD TRACK CIRCUIT MAINTANECE</h4>
    <hr>
  </div>
</div>

<!--<button *ngIf="!enableScanner" (click)="openScanner()">Open Scanner</button>
<button *ngIf="enableScanner" (click)="closeScanner()">Close Scanner</button>
<div *ngIf="enableScanner && !hasPermission">
  Please allow camera permissions and reload the site to scan
</div>
<div class="row" style="width: 275px; padding: 15px;">
  <zxing-scanner *ngIf="enableScanner"
                 (scanSuccess)="scanSuccessHandler($event)"
                 (permissionResponse)="onHasPermission($event)"></zxing-scanner>
</div>
<div class="row" *ngIf="scannedData && !assetDetails">
  <h3>No Asset found with that code</h3>
</div>-->

<accordion [closeOthers]="true">
  <div class="row">
    <div class="col-sm-12 col-xs-12" style="padding-top:20px;">

      <form [formGroup]="addAssetMaintanenceForm" name="addAssetMaintanence" #addAssetMaintanence>
        <div class="form-group col-sm-6 pl-8 col-xs-6">
          <label for="station">Station Name</label>
          <input type="text" class="form-control" id="station" formControlName="stationName">
        </div>
        <div class="form-group col-sm-6 pl-8 col-xs-6">
          <label for="station">Signal Name</label>
          <input type="text" class="form-control" id="station" formControlName="signalName">
        </div>
        <div class="form-group col-sm-6 pl-8 col-xs-6">
          <label for="station">Model</label>
          <input type="text" class="form-control" id="station" formControlName="model">
        </div>
        <div class="form-group col-sm-6 pl-8 col-xs-6">
          <label for="station">Make</label>
          <input type="text" class="form-control" id="station" formControlName="make">
        </div>
        <div class="form-group col-sm-6 pl-8 col-xs-6">
          <label for="station">Serial Number</label>
          <input type="text" class="form-control" id="station" formControlName="serialNumber">
        </div>
        <div class="form-group col-sm-6 pl-8 col-xs-6">
          <label for="latitude">Latitude</label>
          <input type="text" class="form-control" id="latitude" formControlName="slatitude">
        </div>
        <div class="form-group col-sm-6 pl-8 col-xs-6">
          <label for="longitude">Longitude</label>
          <input type="text" class="form-control" id="longitude" formControlName="slongitude">
        </div>
        <div class="col-sm-12 col-xs-12 accordion-head">
          <accordion-group heading="Check List">
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <div class="input-group">
                <div class="icheck-inline">
                  <label>
                    <input type="checkbox" formControlName="cleanSignal" class="icheck">
                    cleaning of signal units from outside and protective wire mesh. (19.108.1)
                  </label>
                </div>
              </div>
            </div>
          </accordion-group>
        </div>
        <div class="col-sm-12 col-xs-12 accordion-head" style="padding-top:20px;" formGroupName="metadata">
          <accordion-group heading="SMC Book" formGroupName="smcData">

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="type">To Do</label>
              <select name="type"
                      class="form-control"
                      id="type"
                      formControlName="maintanenceType">
                <option value="0">
                  Installation
                </option>
                <option value="1">
                  Replacement
                </option>
                <option value="2">
                  Remove
                </option>
              </select>
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="type">Aspect</label>
              <select name="type"
                      class="form-control"
                      id="type"
                      formControlName="aspect">
                <option value="0">DG</option>
                <option value="1">HHG</option>
                <option value="2">HG</option>
                <option value="3">RG</option>
                <option value="4">A</option>
                <option value="5">C</option>
              </select>
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="make">Manufacture</label>
              <select name="type"
                      class="form-control"
                      id="make"
                      formControlName="make">
                <option value="">--Select--</option>
                <option>Agarwal Engineering Works</option>
                <option>G.K. Engg. Works &amp; Stores (P) Ltd</option>
                <option>Kiran Infra Engineers Ltd</option>
                <option>NSS Stores Supply Agency (P) Ltd</option>
                <option>RT Vision Technologies (P) Ltd</option>
                <option>Sankar Engg. Works</option>
                <option>SBM Engg. Works</option>
                <option>Shyam Sundar Casting (P) Ltd</option>
                <option>Sigma Trade Agency</option>
                <option>TSS India Ltd</option>
              </select>
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Model</label>
              <input type="text" class="form-control" id="model" formControlName="model">
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="make">Aspect Number</label>
              <select name="type"
                      class="form-control"
                      id="make"
                      formControlName="aspectNumber">
                <option value="">--Select--</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Version</label>
              <input type="text" class="form-control" id="aspectNumber" formControlName="version">
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="make">Aspect Color</label>
              <select name="type"
                      class="form-control"
                      id="make"
                      formControlName="aspectColor">
                <option>RED</option>
                <option>WHITE</option>
                <option>YELLOW</option>
                <option>GREEN</option>
              </select>
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Serial Number</label>
              <input type="text" class="form-control" id="aspectNumber" formControlName="serialNumber">
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="purchasedon">Date Of Manufacture</label>
              <div class="input-calendar col-xs-12 col-sm-12 clear-padding-x" style="padding-left:0; padding-right:0">
                <input type="text"
                       name="dateOfManufacture"
                       bsDatepicker
                       formControlName="dateOfManufacture"
                       class="form-control"
                       placement="auto"
                       [bsConfig]="{ showWeekNumbers: false }"
                       id="dateOfManufacture" readonly />
                <span class="ic-calendar"></span>
              </div>
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="purchasedon">Installed on</label>
              <div class="input-calendar col-xs-12 col-sm-12 clear-padding-x" style="padding-left:0; padding-right:0">
                <input type="text"
                       name="dateOfInstallation"
                       bsDatepicker
                       formControlName="dataOfInstallation"
                       class="form-control"
                       placement="auto"
                       [bsConfig]="{ showWeekNumbers: false }"
                       id="dateOfInstallation" readonly />
                <span class="ic-calendar"></span>
              </div>
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Life In Months</label>
              <input type="text" class="form-control" id="lifeInMonths" formControlName="lifeInMonths">
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="make">Mid Life Rehabilation</label>
              <select name="type"
                      class="form-control"
                      id="make"
                      formControlName="midLifeRehabilation">
                <option>No</option>
                <option>Yes</option>
              </select>
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="model">Remarks</label>
              <textarea name="description" rows="2" class="form-control" formControlName="remarks"></textarea>
            </div>
          </accordion-group>
          <accordion-group heading="Records Book" formGroupName="recordBook">
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">RG Voltage(V)</label>
              <input type="text" class="form-control" id="station" formControlName="rgVoltage">
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">DG Voltage(V)</label>
              <input type="text" class="form-control" id="station" formControlName="dgVoltage">
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="model">HG Voltage(V)</label>
              <input type="text" class="form-control" id="hgVoltage" formControlName="hgVoltage">
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="milegeInKM">HHG Voltage(V)</label>
              <input type="text" class="form-control" id="hhgVoltage" formControlName="hhgVoltage">
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="codalLife">COG Voltage(V)</label>
              <input type="text" class="form-control" id="cogVoltage" formControlName="cogVoltage">
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="latitude">A-Marker</label>
              <input type="text" class="form-control" id="amarker" formControlName="amarker">
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="longitude">AG-Marker</label>
              <input type="text" class="form-control" id="agmarker" formControlName="agmarker">
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="longitude">C-Marker</label>
              <input type="text" class="form-control" id="agmarker" formControlName="cmarker">
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="longitude">Route Indicator</label>
              <input type="text" class="form-control" id="routeIndicator" formControlName="routeIndicator">
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="model">Schedule</label>
              <textarea name="description" rows="2" class="form-control" formControlName="schedule"></textarea>
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="model">Remarks</label>
              <textarea name="description" rows="2" class="form-control" formControlName="remarks"></textarea>
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label></label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="faulty" [value]="false">
                    Normal
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="faulty" [value]="true">
                    Faulty
                  </label>
                </div>
              </div>
            </div>
          </accordion-group>
        </div>
      </form>
    </div>
  </div>
</accordion>

<div class="form-actions">
  <div class="row">
    <div class="col-md-offset-4 col-xs-12 col-md-8">
      <!--<button (click)="getLocation()" class="btn default">Get Location</button>-->
      <button (click)="saveAssetMaintanence()" class="btn blue">Submit</button>
    </div>
  </div>
</div>
