<div class="row">
  <div class="col-md-12 col-xs-12">
    <div class="col-md-3 col-xs-3">
      <a href="#/blocks" class="btn default yellow">Back</a>
    </div>
    <!--<div class="col-md-3 col-sm-6 col-xs-6 pull-right">
      <a href="#/signaladd" class="btn blue">New</a>
      <a href="#/maintanence" class="btn purple">Maintanence</a>
    </div>-->
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-xs-12">
    <!-- cardTitle="Basic Component" -->
    <h4 class="font-w800"><span *ngIf="!viewForm">ADD</span> BLOCK MAINTANECE <span *ngIf="viewForm">Details</span></h4>
    <hr>
  </div>
</div>

<accordion [closeOthers]="true">
  <div class="row">
    <div class="col-sm-12 col-xs-12" style="padding-top:20px;">

      <form [formGroup]="addAssetMaintanenceForm" name="addAssetMaintanence" #addAssetMaintanence>
        <div class="form-group col-sm-6 pl-8 col-xs-6">
          <label for="station">Station Name</label>
          <input type="text" class="form-control" id="station" formControlName="stationName">
        </div>
        <div class="form-group col-sm-6 pl-8 col-xs-6">
          <label for="station">Block Name</label>
          <input type="text" class="form-control" id="station" formControlName="signalName">
        </div>
        <div class="form-group col-sm-6 pl-8 col-xs-6">
          <label for="station">Model</label>
          <input type="text" class="form-control" id="station" formControlName="model">
        </div>
        <div class="form-group col-sm-6 pl-8 col-xs-6">
          <label for="station">Make</label>
          <input type="text" class="form-control" id="station" formControlName="make">
        </div>
        <div class="form-group col-sm-6 pl-8 col-xs-6">
          <label for="station">Serial Number</label>
          <input type="text" class="form-control" id="station" formControlName="serialNumber">
        </div>
        <div class="form-group col-sm-6 pl-8 col-xs-6">
          <label for="latitude">Latitude</label>
          <input type="text" class="form-control" id="latitude" formControlName="slatitude">
        </div>
        <div class="form-group col-sm-6 pl-8 col-xs-6">
          <label for="longitude">Longitude</label>
          <input type="text" class="form-control" id="longitude" formControlName="slongitude">
        </div>
        <div class="col-sm-12 col-xs-12 accordion-head" style="padding-top:20px;" formGroupName="metadata">
          <accordion-group heading="Check List">
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <div class="input-group">
                <div class="icheck-inline">
                  <label>
                    <input type="checkbox" formControlName="lockAndSeal" class="icheck">
                    Locking &Aacute; Sealing. (18.41.1)(18.57)
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <div class="input-group">
                <div class="icheck-inline">
                  <label>
                    <input type="checkbox" formControlName="smLock" class="icheck">
                    Proper working of SM's lock up key.
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <div class="input-group">
                <div class="icheck-inline">
                  <label>
                    <input type="checkbox" formControlName="needleIndicator" class="icheck">
                    Full detection of Needle indicator. (18.41.2)(18.57)
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <div class="input-group">
                <div class="icheck-inline">
                  <label>
                    <input type="checkbox" formControlName="conditionOfFitting" class="icheck">
                    Good condition and keeping tight all mechanical parts, nuts &Aacute; fittings. (18.41.8)(18.57)
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <div class="input-group">
                <div class="icheck-inline">
                  <label>
                    <input type="checkbox" formControlName="batteriesCleanliness" class="icheck">
                    The Block &Aacute; Telephone batteries for cleanliness and voltages recorded in the card. (18.41.9)(18.57)
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <div class="input-group">
                <div class="icheck-inline">
                  <label>
                    <input type="checkbox" formControlName="telephoneChord" class="icheck">
                    The telephone and telephone chord.
                  </label>
                </div>
              </div>
            </div>
          </accordion-group>
          <accordion-group heading="Records Book" formGroupName="recordBook">
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>Handle Cannot be turned unless both PB1 and PB2 buttons are pressed at the other end</label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="handleChangePB" [value]="true">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="handleChangePB" [value]="false">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>Sealing and locking of block instrument relays and counters</label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="sealAndLockOfRelay" [value]="true">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="sealAndLockOfRelay" [value]="false">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>Handle Cannot be turned to TCF or TGF without cooperation of SMS at other end</label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="handleChangeTCFOrTGF" [value]="true">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="handleChangeTCFOrTGF" [value]="false">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>Force drobing of lock magnet when handle is turned from to TGF</label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="forceDrobingNToTGF" [value]="true">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="forceDrobingNToTGF" [value]="false">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>LSS cannot be taken off without line clear</label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="lssLineClear" [value]="true">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="lssLineClear" [value]="false">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>LSS returns to on position automatically on occupation of track circuit</label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="lssTrackCircuit" [value]="true">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="lssTrackCircuit" [value]="false">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>LSS cannot be taken off for2nd train with same line gear</label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="lssLineGear" [value]="true">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="lssLineGear" [value]="false">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>Home signaling returns to on position automatically on occupation of track</label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="hsTrackCircuit" [value]="true">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="hsTrackCircuit" [value]="false">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>Handle Cannot be normalized without cooperation of SM at other end</label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="handleNormalizeWithSM" [value]="true">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="handleNormalizeWithSM" [value]="false">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>Handle Cannot be normalized even with cooperation of SM at other end and when atrain is in a block section</label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="handleNormalizeWithSMWithBlock" [value]="true">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="handleNormalizeWithSMWithBlock" [value]="false">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>Cancellation of line clear is only possible with cooperation of SM at other end</label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="cancelWithSM" [value]="true">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="cancelWithSM" [value]="false">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>Normal and push back cancellation are not possible with LSS or home signal in off position or with a train in section</label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="nToPBCancellation" [value]="true">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="nToPBCancellation" [value]="false">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>When SM key in out instrument is inoperative for all functions except reception of bell code TOL code automatic transamission of TOL code</label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="smKeyInstrument" [value]="true">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="sKeyInstrument" [value]="false">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>Shunting key can be taken out only when handle is normal and SM Key is 'IN' after key is taken out handle cannot be turned </label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="shuntingKeyFunction" [value]="true">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="shuntingKeyFunction" [value]="false">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>Carrier frequency of adjacent block instrument of the same station is different</label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="carrierFrequency" [value]="true">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="carrierFrequency" [value]="false">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Line Current (mA)</label>
              <input type="text" class="form-control" placeholder="mil Amps" id="lineCurrent" formControlName="lineCurrent">
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Line Voltage (v)</label>
              <input type="text" class="form-control" placeholder="Volt" id="station" formControlName="lineVoltage">
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>Functioning of all buzzers and indications</label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="buzzerAndIndicator" [value]="true">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="buzzerAndIndicator" [value]="false">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>Movement of counters for each cancellation</label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="countersMovement" [value]="true">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="countersMovement" [value]="false">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>Check working Telephone</label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="telphoneWorking" [value]="true">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="telphoneWorking" [value]="false">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>Check and tight all wiring connections in the instrument</label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="wirringConnections" [value]="true">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="wirringConnections" [value]="false">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>check and clean all contancts spring and contact segments and contact pressure</label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="clean_Spring_Segment_Presure" [value]="true">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="clean_Spring_Segment_Presure" [value]="false">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>Check that insulated lead in wires are provided with adequate sepration up to the block instrument.</label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="insulatedLead" [value]="true">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="insulatedLead" [value]="false">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>Refernce of message and given to whom in case of any defect </label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="referenceMessage" [value]="true">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="referenceMessage" [value]="false">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>Check and insure full deflection indicators</label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="fullDeflectionIndicator" [value]="true">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="fullDeflectionIndicator" [value]="false">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>Check whether the insrument is due for overhualing</label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="instrumentDue" [value]="true">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="instrumentDue" [value]="false">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>Check block and telephone battery are kept clean,terminals tight and free from dirt or cossrion. Record the value of batteries  </label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="batteryClean" [value]="true">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="batteryClean" [value]="false">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>Check all mechanical parts such as spring,screw & nuts etc. are in good condition and kept tight</label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="mechanicalPartsCondition" [value]="true">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="mechanicalPartsCondition" [value]="false">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>Check that the line clear can be granted only when recption signals and the last stop signal are proved at On</label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="lineClearSignal" [value]="true">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="lineClearSignal" [value]="false">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>Check that the opposing last stop signals of the block station cannot be taken OFF at one and the same time </label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="opposingLastSignal" [value]="true">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="opposingLastSignal" [value]="false">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>Check that the circuit for providing the arrival of a train is directional</label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="arrivalTrainSignal" [value]="true">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="arrivalTrainSignal" [value]="false">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>Check that all push buttons are self-restoring.</label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="pushButtonSelfRestore" [value]="true">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="pushButtonSelfRestore" [value]="false">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>Block bell & its armature are working properly.</label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="blockBellArmature" [value]="true">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="blockBellArmature" [value]="false">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="model">Remarks</label>
              <textarea name="description" rows="2" class="form-control" formControlName="remarks"></textarea>
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label></label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="faulty" [value]="false">
                    Normal
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="faulty" [value]="true">
                    Faulty
                  </label>
                </div>
              </div>
            </div>
          </accordion-group>
        </div>
      </form>
    </div>
  </div>
</accordion>

<div class="form-actions">
  <div class="row">
    <div class="col-md-offset-4 col-xs-12 col-md-8">
      <!--<button (click)="getLocation()" class="btn default">Get Location</button>-->
      <button (click)="saveAssetMaintanence()" class="btn blue">Submit</button>
    </div>
  </div>
</div>
