<div class="row">
  <div class="col-md-12 col-xs-12">
    <div class="col-md-3 col-xs-3">
      <a href="#/signals" class="btn default yellow">Back</a>
    </div>
    <!--<div class="col-md-3 col-sm-6 col-xs-6 pull-right">
      <a href="#/signaladd" class="btn blue">New</a>
      <a href="#/maintanence" class="btn purple">Maintanence</a>
    </div>-->
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-xs-12">
    <!-- cardTitle="Basic Component" -->
    <h4 class="font-w800">ADD BLOCK MAINTANECE</h4>
    <hr>
  </div>
</div>

<!--<button *ngIf="!enableScanner" (click)="openScanner()">Open Scanner</button>
<button *ngIf="enableScanner" (click)="closeScanner()">Close Scanner</button>
<div *ngIf="enableScanner && !hasPermission">
  Please allow camera permissions and reload the site to scan
</div>
<div class="row" style="width: 275px; padding: 15px;">
  <zxing-scanner *ngIf="enableScanner"
                 (scanSuccess)="scanSuccessHandler($event)"
                 (permissionResponse)="onHasPermission($event)"></zxing-scanner>
</div>
<div class="row" *ngIf="scannedData && !assetDetails">
  <h3>No Asset found with that code</h3>
</div>-->

<accordion [closeOthers]="true">
  <div class="row">
    <div class="col-sm-12 col-xs-12" style="padding-top:20px;">

      <form [formGroup]="addAssetMaintanenceForm" name="addAssetMaintanence" #addAssetMaintanence>
        <div class="form-group col-sm-6 pl-8 col-xs-6">
          <label for="station">Block Instrument Name</label>
          <input type="text" class="form-control" id="station" formControlName="stationName">
        </div>
        <div class="form-group col-sm-6 pl-8 col-xs-6">
          <label for="station">Model</label>
          <input type="text" class="form-control" id="station" formControlName="model">
        </div>
        <div class="form-group col-sm-6 pl-8 col-xs-6">
          <label for="station">Make</label>
          <input type="text" class="form-control" id="station" formControlName="make">
        </div>
        <div class="form-group col-sm-6 pl-8 col-xs-6">
          <label for="station">Serial Number</label>
          <input type="text" class="form-control" id="station" formControlName="serialNumber">
        </div>
        <div class="col-sm-12 col-xs-12 accordion-head">
          <accordion-group heading="Check List">
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <div class="input-group">
                <div class="icheck-inline">
                  <label>
                    <input type="checkbox" formControlName="cleanSignal" class="icheck">
                    cleaning of signal units from outside and protective wire mesh. (19.108.1)
                  </label>
                </div>
              </div>
            </div>
          </accordion-group>
        </div>
        <div class="col-sm-12 col-xs-12 accordion-head" style="padding-top:20px;" formGroupName="metadata">
          <accordion-group heading="SMC Book" formGroupName="smcData">

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="type">To Do</label>
              <select name="type"
                      class="form-control"
                      id="type"
                      formControlName="maintanenceType">
                <option value="0">
                  Installation
                </option>
                <option value="1">
                  Replacement
                </option>
                <option value="2">
                  Remove
                </option>
              </select>
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="type">Aspect</label>
              <select name="type"
                      class="form-control"
                      id="type"
                      formControlName="aspect">
                <option value="0">DG</option>
                <option value="1">HHG</option>
                <option value="2">HG</option>
                <option value="3">RG</option>
                <option value="4">A</option>
                <option value="5">C</option>
              </select>
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="make">Manufacture</label>
              <select name="type"
                      class="form-control"
                      id="make"
                      formControlName="make">
                <option value="">--Select--</option>
                <option>Agarwal Engineering Works</option>
                <option>G.K. Engg. Works &amp; Stores (P) Ltd</option>
                <option>Kiran Infra Engineers Ltd</option>
                <option>NSS Stores Supply Agency (P) Ltd</option>
                <option>RT Vision Technologies (P) Ltd</option>
                <option>Sankar Engg. Works</option>
                <option>SBM Engg. Works</option>
                <option>Shyam Sundar Casting (P) Ltd</option>
                <option>Sigma Trade Agency</option>
                <option>TSS India Ltd</option>
              </select>
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Model</label>
              <input type="text" class="form-control" id="model" formControlName="model">
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="make">Aspect Number</label>
              <select name="type"
                      class="form-control"
                      id="make"
                      formControlName="aspectNumber">
                <option value="">--Select--</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Version</label>
              <input type="text" class="form-control" id="aspectNumber" formControlName="version">
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="make">Aspect Color</label>
              <select name="type"
                      class="form-control"
                      id="make"
                      formControlName="aspectColor">
                <option>RED</option>
                <option>WHITE</option>
                <option>YELLOW</option>
                <option>GREEN</option>
              </select>
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Serial Number</label>
              <input type="text" class="form-control" id="aspectNumber" formControlName="serialNumber">
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="purchasedon">Date Of Manufacture</label>
              <div class="input-calendar col-xs-12 col-sm-12 clear-padding-x" style="padding-left:0; padding-right:0">
                <input type="text"
                       name="dateOfManufacture"
                       bsDatepicker
                       formControlName="dateOfManufacture"
                       class="form-control"
                       placement="auto"
                       [bsConfig]="{ showWeekNumbers: false }"
                       id="dateOfManufacture" readonly />
                <span class="ic-calendar"></span>
              </div>
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="purchasedon">Installed on</label>
              <div class="input-calendar col-xs-12 col-sm-12 clear-padding-x" style="padding-left:0; padding-right:0">
                <input type="text"
                       name="dateOfInstallation"
                       bsDatepicker
                       formControlName="dataOfInstallation"
                       class="form-control"
                       placement="auto"
                       [bsConfig]="{ showWeekNumbers: false }"
                       id="dateOfInstallation" readonly />
                <span class="ic-calendar"></span>
              </div>
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Life In Months</label>
              <input type="text" class="form-control" id="lifeInMonths" formControlName="lifeInMonths">
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="make">Mid Life Rehabilation</label>
              <select name="type"
                      class="form-control"
                      id="make"
                      formControlName="midLifeRehabilation">
                <option>No</option>
                <option>Yes</option>
              </select>
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="model">Remarks</label>
              <textarea name="description" rows="2" class="form-control" formControlName="remarks"></textarea>
            </div>
          </accordion-group>
          <accordion-group heading="Records Book" formGroupName="recordBook">

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="model">Check & Ensure That:</label>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>Handle Cannot be turned unless both PB1 and PB2 buttons are pressed at the other end</label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="faulty" [value]="false">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="faulty" [value]="true">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>Sealing and locking of block instrument relays and counters</label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="faulty" [value]="false">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="faulty" [value]="true">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>Handle Cannot be turned to TCF or TGF without cooperation of SMS at other end</label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="faulty" [value]="false">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="faulty" [value]="true">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>Force drobing of lock magnet when handle is turned from to TGF</label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="faulty" [value]="false">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="faulty" [value]="true">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>LSS cannot be taken off without line clear</label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="faulty" [value]="false">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="faulty" [value]="true">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>LSS returns to on position automatically on occupation of track circuit</label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="faulty" [value]="false">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="faulty" [value]="true">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>LSS cannot be taken off for2nd train with same line gear</label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="faulty" [value]="false">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="faulty" [value]="true">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>Home signaling returns to on position automatically on occupation of track</label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="faulty" [value]="false">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="faulty" [value]="true">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>Handle Cannot be normalized without cooperation of SM at other end</label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="faulty" [value]="false">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="faulty" [value]="true">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>Handle Cannot be normalized even with cooperation of SM at other end and when atrain is in a block section</label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="faulty" [value]="false">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="faulty" [value]="true">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>Cancellation of line clear is only possible with cooperation of SM at other end</label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="faulty" [value]="false">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="faulty" [value]="true">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>Normal and push back cancellation are not possible with LSS or home signal in off position or with a train in section</label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="faulty" [value]="false">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="faulty" [value]="true">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>When SM key in out instrument is inoperative for all functions except reception of bell code TOL code automatic transamission of TOL code</label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="faulty" [value]="false">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="faulty" [value]="true">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>Shunting key can be taken out only when handle is normal and SM Key is 'IN' after key is taken out handle cannot be turned </label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="faulty" [value]="false">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="faulty" [value]="true">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>Carrier frequency of adjacent block instrument of the same station is different</label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="faulty" [value]="false">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="faulty" [value]="true">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="model">RELIABILITY :(Periodicity ESM=F,JE=M,SE=Q)</label>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Line Current (mA)</label>
              <input type="text" class="form-control" placeholder="mil Amps" id="station" formControlName="linecurrent">
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Line Voltage (v)</label>
              <input type="text" class="form-control" placeholder="Volt" id="station" formControlName="linevoltage">
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>Functioning of all buzzers and indications</label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="faulty" [value]="false">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="faulty" [value]="true">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>Movement of counters for each cancellation</label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="faulty" [value]="false">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="faulty" [value]="true">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>Check working Telephone</label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="faulty" [value]="false">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="faulty" [value]="true">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>Check and tight all wiring connections in the instrument</label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="faulty" [value]="false">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="faulty" [value]="true">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>check and clean all contancts spring and contact segments and contact pressure</label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="faulty" [value]="false">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="faulty" [value]="true">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>Check that insulated lead in wires are provided with adequate sepration up to the block instrument.</label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="faulty" [value]="false">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="faulty" [value]="true">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>Refernce of message and given to whom in case of any defect </label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="faulty" [value]="false">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="faulty" [value]="true">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>Check and insure full deflection indicators</label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="faulty" [value]="false">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="faulty" [value]="true">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>Check whether the insrument is due for overhualing</label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="faulty" [value]="false">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="faulty" [value]="true">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>Check block and telephone battery are kept clean,terminals tight and free from dirt or cossrion. Record the value of batteries  </label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="faulty" [value]="false">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="faulty" [value]="true">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>Check all mechanical parts such as spring,screw & nuts etc. are in good condition and kept tight</label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="faulty" [value]="false">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="faulty" [value]="true">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>Check that the line clear can be granted only when recption signals and the last stop signal are proved at On</label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="faulty" [value]="false">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="faulty" [value]="true">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>Check that the opposing last stop signals of the block station cannot be taken OFF at one and the same time </label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="faulty" [value]="false">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="faulty" [value]="true">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>Check that the circuit for providing the arrival of a train is directional</label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="faulty" [value]="false">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="faulty" [value]="true">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>Check that all push buttons are self-restoring.</label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="faulty" [value]="false">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="faulty" [value]="true">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label>Block bell & its armature are working properly.</label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="faulty" [value]="false">
                    Checked
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="faulty" [value]="true">
                    Unchecked
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="model">Remarks</label>
              <textarea name="description" rows="2" class="form-control" formControlName="remarks"></textarea>
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label></label>
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="">
                    <input type="radio" class="icheck" formControlName="faulty" [value]="false">
                    Normal
                  </label>
                  <label>
                    <input type="radio" class="icheck" formControlName="faulty" [value]="true">
                    Faulty
                  </label>
                </div>
              </div>
            </div>
          </accordion-group>
        </div>
      </form>
    </div>
  </div>
</accordion>

<div class="form-actions">
  <div class="row">
    <div class="col-md-offset-4 col-xs-12 col-md-8">
      <!--<button (click)="getLocation()" class="btn default">Get Location</button>-->
      <button (click)="saveAssetMaintanence()" class="btn blue">Submit</button>
    </div>
  </div>
</div>
