<div class="row">
  <!-- impression, goal, impact start -->
  <div class="col-xl-4 col-md-12">
    <app-card [hidHeader]="true" cardClass="comp-card">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="text-c-blue">396</h3>
          <h6 class="m-t-20">Color Light Signals</h6>
          <p class="m-b-0">Electrical Signaling</p>
        </div>
        <div class="col-auto">
          <i class="fas fa-eye badge-light-primary"></i>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-xl-4 col-md-12">
    <app-card [hidHeader]="true" cardClass="comp-card">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="text-c-green">290</h3>
          <h6 class="m-t-20">Electrical Operated Points</h6>
          <p class="m-b-0">Electrical Signaling</p>
        </div>
        <div class="col-auto">
          <i class="fas fa-bullseye badge-light-success"></i>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-xl-4 col-md-12">
    <app-card [hidHeader]="true" cardClass="comp-card">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="text-c-yellow">761</h3>
          <h6 class="m-t-20">Track Circuits</h6>
          <p class="m-b-0">Electrical Signaling</p>
        </div>
        <div class="col-auto">
          <i class="fas fa-hand-paper badge-light-warning"></i>
        </div>
      </div>
    </app-card>
  </div>
  <!-- impression, goal, impact end -->
</div>