<div class="col-sm-12 clear-side-padding sec_nav">
    <ul class="nav nav-pills">
        <li ui-sref-active="active"><a ui-sref='.dashboard'>Home</a></li>
        <li ui-sref-active="active"><a ui-sref='.blocks'>Blocks</a></li>
    </ul>
</div>
<div class="col-lg-12 col-sm-12 col-md-12 vertical-margin">
    <div class="sub-page-container" data-ui-view=""></div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/app/common")
}