<div class="row">
  <div class="col-md-12 col-xs-12">
    <div class="col-md-3 col-xs-3">
      <a href="#/axels" class="btn default yellow">Back</a>
    </div>
    <!--<div class="col-md-3 col-sm-6 col-xs-6 pull-right">
      <a href="#/signaladd" class="btn blue">New</a>
      <a href="#/maintanence" class="btn purple">Maintanence</a>
    </div>-->
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-xs-12">
    <!-- cardTitle="Basic Component" -->
    <h4 class="font-w800">ADD AXEL MAINTANECE</h4>
    <hr>
  </div>
</div>

<!--<button *ngIf="!enableScanner" (click)="openScanner()">Open Scanner</button>
<button *ngIf="enableScanner" (click)="closeScanner()">Close Scanner</button>
<div *ngIf="enableScanner && !hasPermission">
  Please allow camera permissions and reload the site to scan
</div>
<div class="row" style="width: 275px; padding: 15px;">
  <zxing-scanner *ngIf="enableScanner"
                 (scanSuccess)="scanSuccessHandler($event)"
                 (permissionResponse)="onHasPermission($event)"></zxing-scanner>
</div>
<div class="row" *ngIf="scannedData && !assetDetails">
  <h3>No Asset found with that code</h3>
</div>-->

<accordion [closeOthers]="true">
  <div class="row">
    <div class="col-sm-12 col-xs-12" style="padding-top:20px;">

      <form [formGroup]="addAssetMaintanenceForm" name="addAssetMaintanence" #addAssetMaintanence>
        <div class="form-group col-sm-6 pl-8 col-xs-6">
          <label for="station">Station :</label>
        </div>
        <div class="form-group col-sm-6 pl-8 col-xs-6">
          <h2>Vijayawada</h2>
        </div>
        <div class="form-group col-sm-6 pl-8 col-xs-6">
          <label for="station">Axle Counter No</label>
          <input type="text" class="form-control" id="station" formControlName="axlecounterno">
        </div>

        <div class="form-group col-sm-6 pl-8 col-xs-6">
          <label for="station">Make</label>
          <input type="text" class="form-control" id="station" formControlName="make">
        </div>

        <div class="form-group col-sm-6 pl-8 col-xs-6">
          <label for="station">Model</label>
          <input type="text" class="form-control" id="station" formControlName="model">
        </div>

        <accordion-group heading="Records Book" formGroupName="recordBook">
          <div class="form-group col-sm-6 pl-8 col-xs-6">
            <label for="make">Manufacture</label>
            <select name="type"
                    class="form-control"
                    id="make"
                    formControlName="make">
              <option value="">--Select--</option>
              <option>A-B</option>
              <option>C-D</option>
            </select>
          </div>
          <div class="form-group col-sm-6 pl-8 col-xs-6">
            <label for="station">DC Input(V)</label>
            <input type="text" class="form-control" id="station" formControlName="dcInput">
          </div>
          <div class="form-group col-sm-6 pl-8 col-xs-6">
            <label for="station">OSC Voltage(V)</label>
            <input type="text" class="form-control" id="station" formControlName="oscVoltage">
          </div>

          <div class="form-group col-sm-6 pl-8 col-xs-6">
            <label for="model">Frequecy(Hz)</label>
            <input type="text" class="form-control" id="hgVoltage" formControlName="frequecy">
          </div>
          <div class="form-group col-sm-6 pl-8 col-xs-6">
            <label for="milegeInKM">Staggering</label>
            <input type="text" class="form-control" id="hhgVoltage" formControlName="staggering">
          </div>
          <div class="form-group col-sm-6 pl-8 col-xs-6">
            <label for="codalLife">CH-IN-A</label>
            <input type="text" class="form-control" id="cogVoltage" placeholder="Channel (mv)" formControlName="channelmv">
            <input type="text" class="form-control" id="amarker" placeholder="DIP (mv)" formControlName="dip">
            <input type="text" class="form-control" id="agmarker" placeholder="Cross Level (mA)" formControlName="crosslevel">
          </div>
          <div class="form-group col-sm-6 pl-8 col-xs-6">
            <label for="codalLife">CH-IN-B</label>
            <input type="text" class="form-control" id="cogVoltage" placeholder="Channel (mv)" formControlName="channelmv">
            <input type="text" class="form-control" id="amarker" placeholder="DIP (mv)" formControlName="dip">
            <input type="text" class="form-control" id="agmarker" placeholder="Cross Level (mA)" formControlName="crosslevel">
          </div>
          <div class="form-group col-sm-6 pl-8 col-xs-6">
            <label for="codalLife">CH-OUT After EJB-A</label>
            <input type="text" class="form-control" id="cogVoltage" placeholder="Channel (mv)" formControlName="channelmv">
            <input type="text" class="form-control" id="amarker" placeholder="DIP (mv)" formControlName="dip">
            <input type="text" class="form-control" id="agmarker" placeholder="Cross Level (mA)" formControlName="crosslevel">
          </div>
          <div class="form-group col-sm-6 pl-8 col-xs-6">
            <label for="codalLife">CH-OUT After EJB-B</label>
            <input type="text" class="form-control" id="cogVoltage" placeholder="Channel (mv)" formControlName="channelmv">
            <input type="text" class="form-control" id="amarker" placeholder="DIP (mv)" formControlName="dip">
            <input type="text" class="form-control" id="agmarker" placeholder="Cross Level (mA)" formControlName="crosslevel">
          </div>
          <div class="form-group col-sm-6 pl-8 col-xs-6">
            <label for="model">Remarks</label>
            <textarea name="description" rows="2" class="form-control" formControlName="remarks"></textarea>
          </div>
        </accordion-group>
      </form>
    </div>
  </div>
</accordion>

<div class="form-actions">
  <div class="row">
    <div class="col-md-offset-4 col-xs-12 col-md-8">
      <!--<button (click)="getLocation()" class="btn default">Get Location</button>-->
      <button (click)="saveAssetMaintanence()" class="btn blue">Submit</button>
    </div>
  </div>
</div>

