<!--The content below is only a placeholder and can be replaced.-->
<app-page-header></app-page-header>
<div class="clearfix">
</div>
<div class="page-container">
  <div class="page-content-wrapper">
    <div class="page-content" style="margin-left:0">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<div class="page-footer">
  <div class="page-footer-inner">
    2019 &copy; Krishna Infotech.
  </div>
  <!--<div class="scroll-to-top">
    <i class="icon-arrow-up"></i>
  </div>-->
</div>
