<p>
  <a href="#/home">back</a>
</p>
<div class="row">
  <div class="col-sm-12">
    <!-- cardTitle="Basic Component" -->
    <h5>ADD BLOCK INSTRUMENTS TO INVENTORY</h5>
    <hr>
    <form [formGroup]="addAssetForm" name="addAsset" #addAsset>
      <div class="form-group col-sm-6 pl-8">
        <label for="station">Station</label>
        <input type="text" class="form-control" id="station" formControlName="station">
      </div>
      <div class="form-group col-sm-6 pl-8">
        <label for="station">Zone</label>
        <input type="text" class="form-control" id="station" formControlName="zone">
      </div>
      <div class="form-group col-sm-6 pl-8">
        <label for="station">Division</label>
        <input type="text" class="form-control" id="station" formControlName="division">
      </div>
      <div class="form-group col-sm-6 pl-8">
        <label for="station">Department</label>
        <input type="text" class="form-control" id="station" formControlName="department">
      </div>
      <div class="form-group col-sm-6 pl-8">
        <label for="type">Type</label>
        <select name="type"
                class="form-control"
                id="type"
                formControlName="BlockType">
          <option value="0">
            None
          </option>
          <option value="1">
            Push Button TLBI with UFSBI Block Instrument
          </option>
          <option value="2">
            Tokenless Block Instrument-Single Line
          </option>
        </select>
      </div>
      <div class="form-group col-sm-6 pl-8">
        <label for="type">Identifier Type</label>
        <select name="type"
                class="form-control"
                id="type"
                formControlName="typeOfUnit">
          <option value="0">None</option>
          <option value="1">Ajhai-Chata</option>
          <option value="2">Ajhai-Vrindavan</option>
          <option value="3">Bhuteshwar-Mathura Junction</option>
          <option value="4">Bhuteshwar-Mora</option>
          <option value="5">Bhuteshwar-Vrindavan</option>
          <option value="6">Chata-Ajhai</option>
          <option value="7">Chata-Kosi Kalan</option>
          <option value="8">Hodal-Kosi Kalan</option>
          <option value="9">Hodal-Sholaka</option>
          <option value="10">Kosi Kalan-Chata</option>
          <option value="11">Kosi Kalan-Hodal</option>
          <option value="12">Mathura Junction-Bhuteshwar</option>
          <option value="13">Mora-Bhuteshwar</option>
          <option value="14">Rundhi-Palwal</option>
          <option value="15">Rundhi-Sholaka</option>
          <option value="16">Sholaka-Hodal</option>
          <option value="17">Sholaka-Rundhi</option>
          <option value="18">Vrindavan-Ajhai</option>
          <option value="19">Vrindavan-Bhuteshwar</option>
        </select>
      </div>
      <div class="form-group col-sm-6 pl-8">
        <label for="station">InternalSupply (V)(DC)</label>
        <input type="text" class="form-control" id="station" formControlName="internalsupply">
      </div>
      <div class="form-group col-sm-6 pl-8">
        <label for="station">External Supply (V)</label>
        <input type="text" class="form-control" id="station" formControlName="externalsupply">
      </div>
      <div class="form-group col-sm-6 pl-8">
        <label for="station">LineSupply (V)</label>
        <input type="text" class="form-control" id="station" formControlName="linesupply">
      </div>
      <div class="form-group col-sm-6 pl-8">
        <label for="station">InternalCurrent (ma)(MAX)</label>
        <input type="text" class="form-control" id="station" formControlName="internalcurrent">
      </div>
      <div class="form-group col-sm-6 pl-8">
        <label for="station">ExernalCurrent (ma)(MAX)</label>
        <input type="text" class="form-control" id="station" formControlName="externalcurrent">
      </div>
      <div class="form-group col-sm-6 pl-8">
        <label for="station">LineCurrent (ma)(MAX)</label>
        <input type="text" class="form-control" id="station" formControlName="linecurrent">
      </div>
      <div class="form-group col-sm-6 pl-8">
        <label for="station">Operating Temparature Range</label>
        <input type="text" class="form-control" id="station" formControlName="operatingrange">
      </div>
      <div class="form-group col-sm-6 pl-8">
        <label for="station">Overall Dimensions</label>
        <input type="text" class="form-control" id="station" formControlName="overalldimension">
      </div>
      <div class="form-group col-sm-6 pl-8">
        <label for="station">Weight</label>
        <input type="text" class="form-control" id="station" formControlName="weight">
      </div>
      <div class="form-group col-sm-6 pl-8">
        <label for="station">Block Name/Number</label>
        <input type="text" class="form-control" id="station" formControlName="blockName">
      </div>
      <div class="form-group col-sm-6 pl-8">
        <label for="station">Serial Number</label>
        <input type="text" class="form-control" id="station" formControlName="serialNumber">
      </div>
      <div class="form-group col-sm-6 pl-8">
        <label for="make">Manufacture</label>
        <select name="type"
                class="form-control"
                id="make"
                formControlName="make">
          <option value="">--Select--</option>
          <option>Agarwal Engineering Works</option>
          <option>G.K. Engg. Works &amp; Stores (P) Ltd</option>
          <option>Kiran Infra Engineers Ltd</option>
          <option>NSS Stores Supply Agency (P) Ltd</option>
          <option>RT Vision Technologies (P) Ltd</option>
          <option>Sankar Engg. Works</option>
          <option>SBM Engg. Works</option>
          <option>Shyam Sundar Casting (P) Ltd</option>
          <option>Sigma Trade Agency</option>
          <option>TSS India Ltd</option>
        </select>
      </div>
      <div class="form-group col-sm-6 pl-8">
        <label for="model">Model</label>
        <input type="text" class="form-control" id="model" formControlName="model">
      </div>
      <div class="form-group col-sm-6 pl-8">
        <label for="milegeInKM">Mileage(KM)</label>
        <input type="text" class="form-control" id="milegeInKM" formControlName="milegeInKM">
      </div>
      <div class="form-group col-sm-6 pl-8">
        <label for="codalLife">Codal Life</label>
        <input type="text" class="form-control" id="codalLife" formControlName="codalLife">
      </div>
      <div class="form-group col-sm-6 pl-8">
        <label for="latitude">Latitude</label>
        <input type="text" class="form-control" id="latitude" formControlName="latitude">
      </div>
      <div class="form-group col-sm-6 pl-8">
        <label for="longitude">Longitude</label>
        <input type="text" class="form-control" id="longitude" formControlName="longitude">
      </div>
      <div class="form-group col-sm-6 pl-8">
        <label for="purchasedon">Date Of Manufacture</label>
        <div class="input-calendar col-sm-12 clear-padding-x">
          <input type="text"
                 name="dateOfManufacture"
                 bsDatepicker
                 formControlName="dateOfManufacture"
                 class="form-control"
                 placement="auto"
                 [bsConfig]="{ showWeekNumbers: false }"
                 id="dateOfManufacture" readonly />
          <span class="ic-calendar"></span>
        </div>
      </div>
      <div class="form-group col-sm-6 pl-8">
        <label for="purchasedon">Installed on</label>
        <div class="input-calendar col-sm-12 clear-padding-x">
          <input type="text"
                 name="dateOfInstallation"
                 bsDatepicker
                 formControlName="dateOfInstallation"
                 class="form-control"
                 placement="auto"
                 [bsConfig]="{ showWeekNumbers: false }"
                 id="dateOfInstallation" readonly />
          <span class="ic-calendar"></span>
        </div>
      </div>
    </form>
    <div class="form-actions">
      <div class="row">
        <div class="col-md-offset-4 col-md-8">
          <button (click)="getLocation()" class="btn default">Get Location</button>
          <button (click)="saveAsset()" class="btn blue">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>



