<div class="row">
  <div class="col-md-12 col-xs-12">
    <div class="col-md-3 col-xs-3">
      <a href="#/points" class="btn default yellow">Back</a>
    </div>
    <!--<div class="col-md-3 col-sm-6 col-xs-6 pull-right">
      <a href="#/signaladd" class="btn blue">New</a>
      <a href="#/maintanence" class="btn purple">Maintanence</a>
    </div>-->
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-xs-12">
    <!-- cardTitle="Basic Component" -->
    <h4 class="font-w800"><span *ngIf="!viewForm">ADD</span> POINT MAINTANECE <span *ngIf="viewForm">Details</span></h4>
    <hr>
  </div>
</div>

<accordion [closeOthers]="true">
  <div class="row">
    <div class="col-sm-12 col-xs-12" style="padding-top:20px;">
      <form [formGroup]="addAssetMaintanenceForm" name="addAssetMaintanence" #addAssetMaintanence>
        <div class="form-group col-sm-6 pl-8 col-xs-6">
          <label for="station">Station Name</label>
          <input type="text" class="form-control" id="station" formControlName="stationName">
        </div>
        <div class="form-group col-sm-6 pl-8 col-xs-6">
          <label for="station">Point Name</label>
          <input type="text" class="form-control" id="station" formControlName="pointName">
        </div>
        <div class="form-group col-sm-6 pl-8 col-xs-6">
          <label for="station">Model</label>
          <input type="text" class="form-control" id="station" formControlName="model">
        </div>
        <div class="form-group col-sm-6 pl-8 col-xs-6">
          <label for="station">Make</label>
          <input type="text" class="form-control" id="station" formControlName="make">
        </div>
        <div class="form-group col-sm-6 pl-8 col-xs-6">
          <label for="station">Serial Number</label>
          <input type="text" class="form-control" id="station" formControlName="serialNumber">
        </div>
        <div class="form-group col-sm-6 pl-8 col-xs-6">
          <label for="latitude">Latitude</label>
          <input type="text" class="form-control" id="latitude" formControlName="slatitude">
        </div>
        <div class="form-group col-sm-6 pl-8 col-xs-6">
          <label for="longitude">Longitude</label>
          <input type="text" class="form-control" id="longitude" formControlName="slongitude">
        </div>
        <div class="col-sm-12 col-xs-12 accordion-head" style="padding-top:20px;" formGroupName="metadata">
          <accordion-group heading="Check List">
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <div class="input-group">
                <div class="icheck-inline">
                  <label>
                    <input type="checkbox" formControlName="isRustFree" class="icheck">
                    The Machine for tightness and free from rust,dirt.
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <div class="input-group">
                <div class="icheck-inline">
                  <label>
                    <input type="checkbox" class="icheck" formControlName="isPointChairsOiled">
                    Cleaning,graphite/oiling of slise chairsgenerally up to thirsd sleeper from toes of switch. Also check that other point chairs are cleaned and oiled regularly by permenant way staff(19.119)(12.192,19.148)
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <div class="input-group">
                <div class="icheck-inline">
                  <label>
                    <input type="checkbox" class="icheck" formControlName="isPointGearsOiled">
                    Checking and Oiling of Point Gear Assembly, slides, rollers &Aacute; pins with medium grade axel oil IS 1628. Avoid Overflowing. (19.120)
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <div class="input-group">
                <div class="icheck-inline">
                  <label>
                    <input type="checkbox" class="icheck" formControlName="switchSetting">
                    The setting of switch for having required amount of sparing action. (19.127.3)
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <div class="input-group">
                <div class="icheck-inline">
                  <label>
                    <input type="checkbox" class="icheck" formControlName="isObservationTest">
                    Observation Test- of points with 5mm test piece to ensure point can not be locked, detection contacts should not assume the position indicating point closure &Aacute; friction clutch should slip. (19.127.1)
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <div class="input-group">
                <div class="icheck-inline">
                  <label>
                    <input type="checkbox" class="icheck" formControlName="ssdCondition">
                    Condition of SSD if TWS Point
                  </label>
                </div>
              </div>
            </div>
          </accordion-group>
          <accordion-group heading="SMC - 12 (Normal to Reverse)" formGroupName="nrsmcData">
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Motor Make</label>
              <input type="text" class="form-control" id="station" formControlName="motorMake">
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Motor Serial Number</label>
              <input type="text" class="form-control" id="station" formControlName="motorSerialNumber">
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Motor Manufracturing Date</label>
              <input type="text" class="form-control" id="station" formControlName="dateOfManufacture">
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Motor Instalation Date</label>
              <input type="text" class="form-control" id="station" formControlName="dateOfInstallation">
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Peak Load</label>
              <input type="text" class="form-control" id="station" formControlName="peakLoad">
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Normal Load</label>
              <input type="text" class="form-control" id="station" formControlName="normalLoad">
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Obstruction Load</label>
              <input type="text" class="form-control" id="station" formControlName="obstructionLoad">
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Voltage Normal</label>
              <input type="text" class="form-control" id="station" formControlName="voltageNormal">
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Voltage Obstruction</label>
              <input type="text" class="form-control" id="station" formControlName="voltageObstruction">
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">WJR Timing</label>
              <input type="text" class="form-control" id="station" formControlName="wjrTiming">
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Operation Of Point From</label>
              <input type="text" class="form-control" id="station" formControlName="operationFrom">
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Operation Of Point To</label>
              <input type="text" class="form-control" id="station" formControlName="operationTo">
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Remarks</label>
              <input type="text" class="form-control" id="station" formControlName="remarks">
            </div>
          </accordion-group>
          <accordion-group heading="SMC - 12 (Reverse to Normal)" formGroupName="rnsmcData">
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Motor Make</label>
              <input type="text" class="form-control" id="station" formControlName="motorMake">
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Motor Serial Number</label>
              <input type="text" class="form-control" id="station" formControlName="motorSerialNumber">
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Motor Manufracturing Date</label>
              <input type="text" class="form-control" id="station" formControlName="dateOfManufacture">
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Motor Instalation Date</label>
              <input type="text" class="form-control" id="station" formControlName="dateOfInstallation">
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Peak Load</label>
              <input type="text" class="form-control" id="station" formControlName="peakLoad">
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Normal Load</label>
              <input type="text" class="form-control" id="station" formControlName="normalLoad">
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Obstruction Load</label>
              <input type="text" class="form-control" id="station" formControlName="obstructionLoad">
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Voltage Normal</label>
              <input type="text" class="form-control" id="station" formControlName="voltageNormal">
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Voltage Obstruction</label>
              <input type="text" class="form-control" id="station" formControlName="voltageObstruction">
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">WJR Timing</label>
              <input type="text" class="form-control" id="station" formControlName="wjrTiming">
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Operation Of Point From</label>
              <input type="text" class="form-control" id="station" formControlName="operationFrom">
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Operation Of Point To</label>
              <input type="text" class="form-control" id="station" formControlName="operationTo">
            </div>
            <div class="form-group col-sm-6 pl-8 col-xs-6">
              <label for="station">Remarks</label>
              <input type="text" class="form-control" id="station" formControlName="remarks">
            </div>
          </accordion-group>
        </div>
      </form>
    </div>
  </div>
</accordion>

<div class="form-actions" *ngIf="!viewForm">
  <div class="row">
    <div class="col-md-offset-4 col-xs-12 col-md-8">
      <!--<button (click)="getLocation()" class="btn default">Get Location</button>-->
      <button (click)="saveAssetMaintanence()" class="btn blue">Submit</button>
    </div>
  </div>
</div>

