<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="dashboard-stat blue-madison">
      <div class="visual">
        <img src="../../../assets/images/color_signal_icon.png" />
      </div>
      <div class="details">
        <div class="number">
          398
        </div>
        <div class="desc">
          Color Light Signals
        </div>
      </div>
      <a class="more" href="#/station">
        View more <i class="m-icon-swapright m-icon-white"></i>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="dashboard-stat red-intense">
      <div class="visual">
        <img src="../../../assets/images/point_machine_icon.png" />
      </div>
      <div class="details">
        <div class="number">
          548
        </div>
        <div class="desc">
          Electrical Operated Points
        </div>
      </div>
      <a class="more" href="#/points">
        View more <i class="m-icon-swapright m-icon-white"></i>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="dashboard-stat green-haze">
      <div class="visual">
        <img src="../../../assets/images/track_circuit_icon.png" />
      </div>
      <div class="details">
        <div class="number">
          549
        </div>
        <div class="desc">
          Track Circuits
        </div>
      </div>
      <a class="more" href="#/tracks">
        View more <i class="m-icon-swapright m-icon-white"></i>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="dashboard-stat purple-plum">
      <div class="visual">
        <img src="../../../assets/images/block_instruments_icon.png" />
      </div>
      <div class="details">
        <div class="number">
          485
        </div>
        <div class="desc">
          BlockList Instruments
        </div>
      </div>
      <a class="more" href="#/blocks">
        View more <i class="m-icon-swapright m-icon-white"></i>
      </a>
    </div>
  </div>
  <!--<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="dashboard-stat blue-madison">
      <div class="visual">
        <i class="fa fa-comments"></i>
      </div>
      <div class="details">
        <div class="number">
          2506
        </div>
        <div class="desc">
          Fuses
        </div>
      </div>
      <a class="more" href="javascript:;">
        View more <i class="m-icon-swapright m-icon-white"></i>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="dashboard-stat red-intense">
      <div class="visual">
        <i class="fa fa-bar-chart-o"></i>
      </div>
      <div class="details">
        <div class="number">
          0
        </div>
        <div class="desc">
          Electric Key Transmitters
        </div>
      </div>
      <a class="more" href="javascript:;">
        View more <i class="m-icon-swapright m-icon-white"></i>
      </a>
    </div>
  </div>-->
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="dashboard-stat green-haze">
      <div class="visual">

        <img src="../../../assets/images/axle_counter.jpg" />
      </div>
      <div class="details">
        <div class="number">
          549
        </div>
        <!--<div class="desc">
          Aparatus Case/Location Boxes/Block Panel
        </div>-->
  <div class="desc">
    Axle Counters
  </div>
</div>
      <a class="more" href="#/axels">
        View more <i class="m-icon-swapright m-icon-white"></i>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="dashboard-stat purple-plum">
        <div class="visual">
          <i class="fa fa-globe"></i>
        </div>
        <div class="details">
          <div class="number">
          </div>
          <div class="desc">
            Maintanence
          </div>
        </div>
        <a class="more" href="#/maintanence">
          View more <i class="m-icon-swapright m-icon-white"></i>
        </a>
      </div>
  </div>
